[submodule "deps/dx9sdk"]
	path = deps/dx9sdk
	url = https://github.com/twostars/microsoft-directx-sdk
[submodule "Client/Data"]
	path = Client/Data
	url = https://github.com/twostars/ko-client-assets
