[submodule "deps/dx9sdk"]
	path = deps/dx9sdk
	url = https://github.com/Open-KO/microsoft-directx-sdk
[submodule "Client/Data"]
	path = Client/Data
	url = https://github.com/Open-KO/ko-client-assets
	branch = openko-1298
