*.tlog
*.idb
*.res
*.map
*.log
*.pdb
*.bsc
KnightOnline.VC.VC.opendb
KnightOnline.VC.db
*.opendb
*.sdf
*.obj
ipch/
data/
*.pch
*.exe
*.ilk
.DS_Store
*.ipdb
*.iobj
*.db
*.sbr
Client/N3Base/Debug/N3Base.lib
Client/N3Base/Tool_Release/N3Base_tool.lib
Server/bin/Debug/Lua.lib
Server/bin/Debug/shared.lib
Client/N3Base/Release/N3Base.lib
ItemEditor/Item/
ItemEditor/Item_old/
ItemEditor/Item_output/
ItemEditor/UI/
ItemEditor/Debug/ItemEditor.lib
ItemEditor/Release/ItemEditor.lib
Makefile
*.o
*.dSYM
*.exp
Server/shared/Debug/shared.lib
Server/scripting/Release/Lua.log
Server/bin/Release/Lua.lib
Server/LogInServer/Release/proj-LogInServer.log
Server/AIServer/Release/proj-AIServer.log
Server/GameServer/Release/proj-GameServer.log
Server/shared/Release/shared.lib
.vs/KnightOnline/v14/.suo
UIE/.vs/UIE/v14/.suo
