*.vcxproj.user
*.tlog
*.idb
*.res
*.map
*.log
*.pdb
*.bsc
*.ini
*.lastbuildstate
*.unsuccessfulbuild
KnightOnline.VC.VC.opendb
KnightOnline.VC.db
*.opendb
*.sdf
*.obj
ipch/
data/
Client/data/
*.pch
*.exe
*.ilk
.DS_Store
*.ipdb
*.iobj
*.db
*.sbr
*.lib
*.rej
*.aps
.vs/
enc_temp_folder/
ItemEditor/Item/
ItemEditor/Item_old/
ItemEditor/Item_output/
ItemEditor/UI/
ItemEditor/Object/
*.o
*.dSYM
*.exp
*.suo
bin/
Debug/
Release/
Tool_Debug/
Tool_Release/
x64/
warfare_config.h
*.idea
