*.tlog
*.idb
*.res
*.map
*.log
*.pdb
*.bsc
KnightOnline.VC.VC.opendb
KnightOnline.VC.db
*.opendb
*.sdf
*.obj
ipch/
data/
*.pch
*.exe
*.ilk
.DS_Store
*.ipdb
*.iobj
*.db
*.sbr
Client/N3Base/Debug/N3Base.lib
Client/N3Base/Tool_Release/N3Base_tool.lib
Server/bin/Debug/Lua.lib
Server/bin/Debug/shared.lib
Client/N3Base/Release/N3Base.lib
ItemEditor/Item/
ItemEditor/Item_old/
ItemEditor/UI/
Makefile
*.o
*.dSYM
