@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            @*@Html.Partial("_Menu")*@
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">

                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/Website/images/crashkologo.png"></div></td>
                                                <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_support_policies.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="page-content" valign="top">
                                                                    <a href="#" title="None Player Characters" class="bodytext"><b>NPCs</b></a><br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="text">
                                                                    Non Playing Characters (NPCs) are located throughout the game to assist you with your Knight Online experience. To learn more, see the <a href="#" class="bodytext"><b>list of NPCs</b></a> available.<br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    <span class="textred"><b>Quests</b></span><br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="text">
                                                                    By visiting various NPCs, you can participate in numerous    Quests. Upon completion of these quests, your character is able to gain    experience points and/or items. Click the  “icon” to see all quests for your level.<br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="text">
                                                                    <em>Make your own Clan</em><br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="text">
                                                                    Clans are a group of same race characters that share National Points (NP) to determine Clan Grade and Ranking. Clans are allowed 36 Knights in total. To create your own clan, you must visit the Inn Hostess NPC of your main Castle Zone. You may also join any existing clan in this zone.<br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="text">
                                                                    <em>NP &amp; Ratings</em><br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="text">
                                                                    National Points (NP) are gained in PVP (Player vs Player) battles. NP is used to determine:&lt;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    <ul type="disc">
                                                                        <li><a href="#" title="USKO Player Ranking" class="bodytext"><b>Player Ranking</b></a></li>
                                                                        <li><a href="#" title="Clan Ranking" class="bodytext"><b>Clan Ranking</b></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="text">
                                                                    Clans can earn capes, <a href="#" class="bodytext"><b>Castle Siege War</b></a> entrance and exciting event opportunities based on your Clan grade. Clan grades classified as follows:<br>
                                                                    <br>
                                                                    <br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    <table width="556" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="3"><img src="~/Content/Website/images/tble_top.gif" width="556" height="49"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="13" valign="bottom" background="~/Content/Website/images/news_slice_left.gif">&nbsp;</td>
                                                                                <td width="530" align="left" valign="top">
                                                                                    <table border="0" rules="all" bordercolor="#25120B" width="530" cellspacing="0" cellpadding="4" align="center">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td bgcolor="#25120B" width="87" valign="top"></td>
                                                                                                <td bgcolor="#25120B" width="184" valign="top">
                                                                                                    <span class="textwhite" style="color: #fff;">
                                                                                                        Total NP
                                                                                                    </span>
                                                                                                </td>
                                                                                                <td bgcolor="#25120B" width="170" valign="top">
                                                                                                    <span class="textwhite" style="color: #fff;">
                                                                                                        Advantages
                                                                                                    </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="87" valign="top">Grade 5                    </td>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="184" valign="top">
                                                                                                    &lt;
                                                                                                    74,000
                                                                                                </td>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="170" valign="top">N/A                    </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="text" bgcolor="#d4c6ab" width="87" valign="top">Grade 4                    </td>
                                                                                                <td class="text" bgcolor="#d4c6ab" width="184" valign="top">74,000 - 144,000                    </td>
                                                                                                <td class="text" bgcolor="#d4c6ab" width="170" valign="top">Castle Siege War                    </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="87" valign="top">Grade 3                    </td>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="184" valign="top">144,000 - 360,000                    </td>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="170" valign="top">Capes Available                    </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="text" bgcolor="#d4c6ab" width="87" valign="top">Grade 2                    </td>
                                                                                                <td class="text" bgcolor="#d4c6ab" width="184" valign="top">360,000 - 760,000                    </td>
                                                                                                <td class="text" bgcolor="#d4c6ab" width="170" valign="top">Additional Options                    </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="87" valign="top">Grade 1                    </td>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="184" valign="top">
                                                                                                    &gt;
                                                                                                    760,000
                                                                                                </td>
                                                                                                <td class="text" bgcolor="#e7dbc3" width="170" valign="top">Advanced Options                    </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td width="13" valign="bottom" background="~/Content/Website/images/news_slice_right.gif">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3"><img src="~/Content/Website/images/tble_btm.gif" width="556" height="49"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="headertext">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="15"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>