@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
         
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">

                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_events.gif" width="204" height="244" border="0" usemap="#Map3"></div></td>
 <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_events_castle_siege.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p><span class="headertext">Delos</span></p>
                                                                    <p>
                                                                        Castle Siege Wars now have a new castle and zone - named Delos.<br>
                                                                        The leader of the Knights who control Delos gains the benefit of collecting taxes from Moradon and Delos.
                                                                    </p>
                                                                    <p>
                                                                        <span class="headertext_red">Participation in Castle Siege Wars</span><br>
                                                                    </p>
                                                                    <ul>
                                                                        <li>
                                                                            You are not required to go through a stand alone registration process. The basic requirements for participating in the Castle Siege War is a Knight with a level of 4 or above.<br>
                                                                        </li>
                                                                        <li>
                                                                            Castle Siege War : Monday at 7:30 PM you are allowed enterance to the zone.
                                                                        </li>
                                                                    </ul>
                                                                    <p>
                                                                        <span class="headertext_red">Castle Siege War Rules</span><br>
                                                                    </p>
                                                                    <ul>
                                                                        <li>
                                                                            Controlling the Artifact located in the central area of the castle is crucial to controlling the castle.<br>
                                                                        </li>
                                                                        <li>
                                                                            If the artifact is damaged or destroyed during the one hour castle siege war, the artifact will automatically regenerate itself.
                                                                        </li>
                                                                    </ul>
                                                                    <p><em>-Destroying the artifact by either side will result in that artifact being regenerated in its place for the clan that destroyed it. When time has run out the clan that has their artifact in the center of the town will own the castle.</em></p>
                                                                    <ul>
                                                                        <li>
                                                                            This is a clan battle.
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table class="maintext" cellspacing="1" cellpadding="1" width="100%" align="center" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="3" valign="top" class="headertext_red">
                                                                                    Castle
                                                                                    Siege War schedule (Every Saturday on both Ares 1 &amp;
                                                                                    Diez 1)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="114" align="middle" valign="top"><div align="left"><strong>Time</strong></div></td>
                                                                                <td width="100">
                                                                                    <div align="left">
                                                                                        <strong>Zone</strong>
                                                                                    </div>
                                                                                </td>
                                                                                <td width="296">
                                                                                    <div align="left">
                                                                                        <strong>Additonal Info</strong>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="114" align="middle" valign="top" bgcolor="#BDB29F">
                                                                                    <div align="left">
                                                                                        6.30pm<br>
                                                                                        (PST)
                                                                                    </div>
                                                                                </td>
                                                                                <td bgcolor="#BDB29F">War Zone Opens</td>
                                                                                <td bgcolor="#BDB29F">In 10 minutes the Castle Siege War begins.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="114" align="middle" valign="top" bgcolor="#BDB29F">
                                                                                    <div align="left">
                                                                                        8.30pm<br>
                                                                                        (PST)
                                                                                    </div>
                                                                                </td>
                                                                                <td bgcolor="#BDB29F">War Ends</td>
                                                                                <td bgcolor="#BDB29F">If the artifact remains in place and neither clan has destroyed it - resulting in a stalemate, the original owner of the castle wins.</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table class="maintext" cellspacing="1" cellpadding="1" width="100%" align="center" border="0">
                                                                        <tbody>
                                                                            <tr valign="top">
                                                                                <td align="left" class="headertext_red">Penalties</td>
                                                                            </tr>
                                                                            <tr valign="top">
                                                                                <td align="left">
                                                                                    <span class="header">
                                                                                        <strong>
                                                                                            (1) Penalty
                                                                                        </strong>
                                                                                    </span><br>There are no penalties in the Castle Siege War.<p>
                                                                                        <span class="header"><strong>(2) Spawn Point </strong></span><br>
                                                                                        The spawn point for the owner is inside the castle.  The invasion forces will spawn in a designated safe zone.  You may use the Priests resurrection skill to spawn in the same area.<br>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table class="maintext" cellspacing="1" cellpadding="1" width="100%" align="center" border="0">
                                                                        <tbody>
                                                                            <tr valign="top">
                                                                                <td width="120" align="left" class="headertext_red">(Delos) Castle Siege War Zone</td>
                                                                            </tr>
                                                                            <tr valign="top">
                                                                                <td align="left">
                                                                                    <p>The main parts for the Castle Siege War are divided into three main areas:  Delos Castle, the battle field, and the Desert Fortress.</p>
                                                                                    <p>
                                                                                        <span class="header"><strong>(1) Delos Castle </strong></span><br>
                                                                                    </p>
                                                                                    <ul>
                                                                                        <li>
                                                                                            Inside the castle : There is a door in the central area where the artifact is.<br>
                                                                                        </li>
                                                                                        <li>
                                                                                            Castle gate : All members belonging to the clan that currently owns the castle may open the gate.<br>
                                                                                        </li>
                                                                                        <li>
                                                                                            Artifact : The artifact determines the owner of the castle.
                                                                                        </li>
                                                                                    </ul>
                                                                                    <p>
                                                                                        <span class="header"><strong>(2) Battle Field</strong></span><br>
                                                                                    </p>
                                                                                    <ul>
                                                                                        <li>
                                                                                            Battles take place here.<br>
                                                                                        </li>
                                                                                        <li>
                                                                                            Monsters do not exist here.
                                                                                        </li>
                                                                                    </ul>
                                                                                    <p>
                                                                                        <span class="header"><strong>(3) Desert Fortress (Safe zone)</strong></span><br>
                                                                                    </p>
                                                                                    <ul>
                                                                                        <li>
                                                                                            This is the designated safe zone before the war.<br>
                                                                                        </li>
                                                                                        <li>
                                                                                            The invasion forces spawn point.<br>
                                                                                        </li>
                                                                                        <li>
                                                                                            Physical and magic attacks have no effect here.<br>
                                                                                        </li>
                                                                                        <li>
                                                                                            The Desert Fortress gates will remain closed until the war begins.
                                                                                        </li>
                                                                                    </ul>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">Castle Siege War Weapons</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="488">&nbsp;</td>
                                                                                <td rowspan="2">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="header">
                                                                                    <strong>Catapult</strong> - Shoots flame
                                                                                    cannon balls to a target far away.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="145" bgcolor="#BDB29F">
                                                                                    <table width="488" height="145" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/20040630_img11.gif">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="250" rowspan="2">&nbsp;</td>
                                                                                                <td colspan="2" height="30">&nbsp;</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100" height="115" align="left" valign="top" class="header">
                                                                                                    <strong>
                                                                                                        <font color="#104931">
                                                                                                            Catapult
                                                                                                            Specs
                                                                                                        </font>
                                                                                                    </strong>
                                                                                                </td>
                                                                                                <td align="left" valign="top" class="textfield">
                                                                                                    <font color="#327a1d">
                                                                                                        Speed:
                                                                                                        1m/s<br>
                                                                                                        Defense : 2000<br>
                                                                                                        Resistance : 3000<br>
                                                                                                        HP : 5000
                                                                                                    </font>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td rowspan="2">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="header">
                                                                                    <strong>Ram</strong> - A weapon that
                                                                                    is used to destroy the gate.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="145" bgcolor="#BDB29F">
                                                                                    <table width="488" height="145" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/20040630_img13.gif">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="250" rowspan="2">&nbsp;</td>
                                                                                                <td colspan="2" height="30">&nbsp;</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100" height="115" align="left" valign="top" class="header">
                                                                                                    <strong>
                                                                                                        <font color="#104931">
                                                                                                            Ram
                                                                                                            Specs
                                                                                                        </font>
                                                                                                    </strong>
                                                                                                </td>
                                                                                                <td align="left" valign="top" class="textfield">
                                                                                                    <font color="#327a1d">
                                                                                                        Speed
                                                                                                        : 1m/s<br>
                                                                                                        Defense : 1000<br>
                                                                                                        Resistance : 5000<br>
                                                                                                        HP : 15000
                                                                                                    </font>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td rowspan="2">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="header">
                                                                                    <strong>Leader Car</strong><font color="#990000">
                                                                                        &nbsp;
                                                                                    </font><br>
                                                                                    - Only the confederacy leader that is attacking can be
                                                                                    in it. <br>
                                                                                    - Uses defense magic that affects a certain area near
                                                                                    the car.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="145" bgcolor="#BDB29F">
                                                                                    <table width="488" height="145" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/20040630_img15.gif">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="250" rowspan="2">&nbsp;</td>
                                                                                                <td colspan="2" height="30">&nbsp;</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100" height="115" align="left" valign="top" class="header">
                                                                                                    <strong>
                                                                                                        <font color="#104931">
                                                                                                            Leader
                                                                                                            Car Specs
                                                                                                        </font>
                                                                                                    </strong>
                                                                                                </td>
                                                                                                <td align="left" valign="top" class="textfield">
                                                                                                    <font color="#327a1d">Speed</font><font color="#327a1d">
                                                                                                        : 1m/s<br>
                                                                                                        Defense : 2000<br>
                                                                                                        Resistance : 3000<br>
                                                                                                        HP : 10000
                                                                                                    </font>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="header">
                                                                                    <strong>Ladder Truck</strong> (Climbing
                                                                                    over castle walls) <br>
                                                                                    An armored truck that extends its ladders to allow users
                                                                                    to climb over the castle wall.
                                                                                </td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="145" bgcolor="#BDB29F">
                                                                                    <table width="488" height="145" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/20040630_img16.gif">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="250" rowspan="2">&nbsp;</td>
                                                                                                <td colspan="2" height="30">&nbsp;</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100" height="115" align="left" valign="top" class="header">
                                                                                                    <strong>
                                                                                                        <font color="#104931">
                                                                                                            Ladder
                                                                                                            Truck Specs
                                                                                                        </font>
                                                                                                    </strong>
                                                                                                </td>
                                                                                                <td align="left" valign="top" class="textfield">
                                                                                                    <font color="#327a1d">Speed</font><font color="#327a1d">
                                                                                                        : 1m/s<br>
                                                                                                        Defense : 1000<br>
                                                                                                        Resistance : 2000<br>
                                                                                                        HP : 10000
                                                                                                    </font>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>
<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("LunarWar")">
    <area shape="rect" coords="29,93,174,123" href="@Url.Action("DarkLunarWar")">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("CastleSiegeWar")">
    <area shape="rect" coords="29,163,174,191" href="@Url.Action("ForgettenTemple")">
</map>