@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
         
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">

                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_events.gif" width="204" height="244" border="0" usemap="#Map3"></div></td>
                                               <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_events_dark_lunar_war.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Dark Lunar War is a mega PvP event where each nation tries
                                                                    to kill all the NPCs in the enemies base. You must be level
                                                                    30 to 50 to enter the war. Only the first 120 players from each
                                                                    nation are allowed. To enter the war, use the warp gate in Moradon
                                                                    to teleport to the Lunar Valley at the time shown below. If
                                                                    your nation wins the war, then go to the enemies' base and look
                                                                    for the Victory Gate (which is a warp gate to get you into the
                                                                    enemies' hometown). After an hour of invasion, you will be teleported
                                                                    back to your hometown. Please read the details below for more
                                                                    information.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="headertext">
                                                                        <div>
                                                                            War Schedule [All times are in Pacific
                                                                            Standard Time (GMT-8).]
                                                                        </div>
                                                                    </div>
                                                                    <p>
                                                                        KOL USERS.  Our new schedule is as per follows.  It is not much change from the previous based on feedback from the users.  Our wars maybe + 10 minutes from the original scheduled time. <br>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td bgcolor="#472b00">
                                                                    <table class="maintext" width="100%" border="0" cellspacing="1" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#472b00" width="12%">&nbsp;</td>
                                                                                <td align="center" bgcolor="#6c5025" width="13%"><font color="white">S</font></td>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">M</font></td>
                                                                                <td align="center" bgcolor="#6c5025" width="10%"><font color="white">T</font></td>
                                                                                <td align="center" bgcolor="#6c5025" width="18"><font color="white">W</font></td>
                                                                                <td align="center" bgcolor="#6c5025" width="13%"><font color="white">Th</font></td>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">F</font></td>
                                                                                <td align="center" bgcolor="#6c5025" width="13%"><font color="white">S</font></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">12am</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">1am</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">2am</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">3am</font></td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                                <td class="style2" align="center" bgcolor="#339933" width="12%">&nbsp;Beramus</td>
                                                                                <td class="style1" align="center" bgcolor="#cccc99" width="10%">Diez</td>
                                                                                <td class="style1" align="center" bgcolor="#5291ff" width="13%">Cypher</td>
                                                                                <td bgcolor="#cc0000" width="13%">
                                                                                    <div align="center">
                                                                                        &nbsp;Ares
                                                                                    </div>
                                                                                </td>
                                                                                <td class="style2" align="center" bgcolor="#009999" width="12%">Xigenon</td>
                                                                                <td bgcolor="white" width="13%">
                                                                                    <div align="center"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">4am</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">
                                                                                    <div align="center"></div>
                                                                                </td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">5am</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">6am</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">7am</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">8am</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">9am</font></td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                                <td class="style2" align="center" bgcolor="#339933" width="12%">
                                                                                    &nbsp;Beramus
                                                                                </td>
                                                                                <td class="style1" align="center" bgcolor="#cccc99" width="10%">Diez</td>
                                                                                <td class="style1" align="center" bgcolor="#5291ff" width="13%">Cypher</td>
                                                                                <td bgcolor="#cc0000" width="13%">
                                                                                    <div align="center">
                                                                                        &nbsp;Ares
                                                                                    </div>
                                                                                </td>
                                                                                <td class="style2" align="center" bgcolor="#009999" width="12%">Xigenon</td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">10am</font></td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                                <td bgcolor="white" width="12%">
                                                                                    <div align="center"></div>
                                                                                </td>
                                                                                <td bgcolor="white" width="10%">
                                                                                    <div align="center"></div>
                                                                                </td>
                                                                                <td bgcolor="white" width="18">&nbsp;</td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">
                                                                                    <div align="center"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">11am</font></td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">&nbsp;</td>
                                                                                <td bgcolor="white" width="18">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">12pm</font></td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">&nbsp;</td>
                                                                                <td bgcolor="white" width="18">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">1pm</font></td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">&nbsp;</td>
                                                                                <td bgcolor="white" width="18">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">2pm</font></td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">&nbsp;</td>
                                                                                <td bgcolor="white" width="18">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">3pm</font></td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">&nbsp;</td>
                                                                                <td bgcolor="white" width="18">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">4pm</font></td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">&nbsp;</td>
                                                                                <td bgcolor="white" width="18">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">5pm</font></td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">&nbsp;</td>
                                                                                <td bgcolor="white" width="18">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">&nbsp;</td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">6pm</font></td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                                <td class="style2" align="center" bgcolor="#339933" width="12%">&nbsp;Beramus</td>
                                                                                <td class="style1" align="center" bgcolor="#cccc99" width="10%">Diez</td>
                                                                                <td class="style1" align="center" bgcolor="#5291ff" width="13%">Cypher</td>
                                                                                <td bgcolor="#cc0000" width="13%">
                                                                                    <div align="center">
                                                                                        &nbsp;Ares
                                                                                    </div>
                                                                                </td>
                                                                                <td class="style2" align="center" bgcolor="#009999" width="12%">Xigenon</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">7pm</font></td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="10%">
                                                                                    <div align="center"></div>
                                                                                </td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td class="style1" align="center" bgcolor="white" width="13%"></td>
                                                                                <td bgcolor="white" width="12%">&nbsp;</td>
                                                                                <td bgcolor="white" width="13%">
                                                                                    <div align="center"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">8pm</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">9pm</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">10pm</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" bgcolor="#6c5025" width="12%"><font color="white">11pm</font></td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="10%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="18">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="12%">&nbsp;</td>
                                                                                <td bgcolor="#FFFFFF" width="13%">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table class="maintext" width="100%" border="0" cellspacing="15" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td bgcolor="#CC0000" width="6%">&nbsp;</td>
                                                                                <td width="2%">&nbsp;</td>
                                                                                <td width="37%">Ares</td>
                                                                                <td bgcolor="#CCCC99" width="6%">&nbsp;</td>
                                                                                <td width="2%">&nbsp;</td>
                                                                                <td width="37%">Diez</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#009999">&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>Xigenon</td>
                                                                                <td bgcolor="#339933">&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>Beramus</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#5291ff"></td>
                                                                                <td></td>
                                                                                <td>Cypher</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" class="maintext">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="3" class="headertext"><strong>Dark Lunar War</strong></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="110" align="left" valign="top">Experience. Points</td>
                                                                                <td width="10" align="left" valign="top">•</td>
                                                                                <td valign="top">
                                                                                    You will not lose any experience points
                                                                                    in Dark Lunar War.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="110" align="left" valign="top">National Points</td>
                                                                                <td width="10" align="left" valign="top">•</td>
                                                                                <td valign="top">
                                                                                    When you kill an opposite user you'll be
                                                                                    awarded with 50 national points.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="110" align="left" valign="top">&nbsp;</td>
                                                                                <td width="10" align="left" valign="top">•</td>
                                                                                <td valign="top">
                                                                                    When you get killed by an user you will
                                                                                    lose 25 national points or
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="110" align="left" valign="top">&nbsp;</td>
                                                                                <td width="10" align="left" valign="top">•</td>
                                                                                <td valign="top">
                                                                                    1% of experience points will deducted for
                                                                                    those user that have no more national points left. You
                                                                                    also receive 1000 national points for killing a Keeper
                                                                                    and 500 for killing a Warder.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="110" align="left" valign="top">Restrictions</td>
                                                                                <td width="10" align="left" valign="top">•</td>
                                                                                <td valign="top">
                                                                                    120 users from each nation allow participate
                                                                                    for Dark Lunar War.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top">&nbsp;</td>
                                                                                <td align="left" valign="top">•</td>
                                                                                <td valign="top">
                                                                                    Level 30 to level 50. Total sum of skill
                                                                                    should be 82, stat should be 447, and characters what
                                                                                    have selected their master skill (2nd specialty) cannot
                                                                                    join this. This is to prevent high leveled users from
                                                                                    purposely lowering their levels just to take part in this
                                                                                    war.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top">Gold</td>
                                                                                <td align="left" valign="top">•</td>
                                                                                <td valign="top">
                                                                                    You don't win any coins for killing users
                                                                                    of opposite nation. However, you'll lose 5% of your coins
                                                                                    if you are killed.
                                                                                </td>
                                                                            </tr>
                                                                            <!-- <tr valign="top">
                                                                    <td colspan="3" align="left"><font color="#FF0000">*
                                                                      This war time schedule is just for Beta testing
                                                                      and will be changed from time to time. Please check
                                                                      for updates on the website.</font></td>
                                                                  </tr> -->
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>
<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("LunarWar")">
    <area shape="rect" coords="29,93,174,123" href="@Url.Action("DarkLunarWar")">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("CastleSiegeWar")">
    <area shape="rect" coords="29,163,174,191" href="@Url.Action("ForgettenTemple")">
</map>