@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">


                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_support.gif" width="204" height="209" border="0" usemap="#Map3"></div></td>
                                                <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext" height="1403">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_support_faq.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr height="16">
                                                                <td height="16">&nbsp;</td>
                                                            </tr>
                                                            <tr height="16">
                                                                <td valign="top" height="16">
                                                                    <div align="center">
                                                                        <strong><a href="#">System FAQ</a></strong> - <a href="@Url.Action("FAQGamePlay","Home")">Game Play FAQ</a> - <a href="@Url.Action("FAQAccount","Home")">Account FAQ</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr height="16">
                                                                <td height="16">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="5" valign="top">
                                                                    <p>
                                                                        <strong>Is Knight Online free?</strong><br>
                                                                        Yes. Knight Online game program, patch updates, game updates and expansions are all available online<br>
                                                                        for free. The registeration and game service is also free.
                                                                    </p>
                                                                    <p>
                                                                        <strong>Will there be any monthly fee to play Knight Online?</strong><br>
                                                                        No. Knight Online is a Free 2 Play game.
                                                                    </p>
                                                                    <p>
                                                                        <strong>I am from a country that is outside of North America. Can I play too?</strong><br>
                                                                        We welcome everyone who has access to the internet!. Anyone from around the world is welcomed<br>
                                                                        to register and play Knight Online.
                                                                    </p>
                                                                    <p>
                                                                        <strong>Where can I download the game?</strong><br>
                                                                        The Knight Online game is available for download at your website. Patch updates and game updates<br>
                                                                        including future expansion update is done through built in automatic updater.
                                                                    </p>
                                                                    <p>
                                                                        <strong>I can't register for Knight Online account. </strong><br>
                                                                        Our website is designed to be used with Internet Explorer. Please update to latest version<br>
                                                                        by going to www.microsoft.com/ie and download an appropriate version.
                                                                    </p>
                                                                    <p>
                                                                        <strong>What is the minimum requirement for playing Knight Online?</strong><br>
                                                                        The bare minimum is Celeron 300Mhz with 128MB RAM and DirectX 7 compatible card but we<br>
                                                                        reComment at least Pentium 800Mhz with 256MB RAM and GeForce 4MX/Radeon 7500 card or higher.<br>
                                                                        Also broadband internet connectino is reComment for optimum game play.
                                                                    </p>
                                                                    <p>
                                                                        <strong>What's the difference between '1' server and '2' server?</strong><br>
                                                                        there are no major differences between 1 and 2 servers. 1 hosts weekly Lunar Wars and Castle<br>
                                                                        Siege Wars. 2 Servers do no host wars and lack Colony Zone &amp; Abyss Dungeon.<br>
                                                                        2 servers are primarily for boss hunts, level ups and party plays.
                                                                    </p>
                                                                    <p>
                                                                        <strong>Do I have to register for the community forum?</strong><br>
                                                                        Yes, our forum is a separate service that is also provided free.<br>
                                                                        It is moderated by players from around the world with diverse background.<br>
                                                                        Please come and browse the forum at http://ko4life.net/topic/50-the-openko-project/
                                                                    </p>
                                                                    <p>
                                                                        <strong>Where are the servers located it at?</strong><br>
                                                                        Our Knight Online servers currently reside in downtown Los Angeles.<br>
                                                                        It is one of giant cetral hubs that connects many different part of the world.
                                                                    </p>
                                                                    <p class="textfield">
                                                                        <strong>What is your policy on cheat/dupe/hack? </strong><br>
                                                                        We heavily enforcing the users who tries to abuse our service best to our power.<br>
                                                                        We take any form of cheat/dupe/hack very seriously so please do not cheat/dupe/hack.<br>
                                                                        You will only make the game and it's community worse by runing the game for everyone.<br>
                                                                        Please refer to our game policy located in our website.<br>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                   
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>

<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("FAQ")">
    <area shape="rect" coords="29,93,174,123" href="" onclick="alert('Please log in to reach customer support')">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("Policies")">
</map>