@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
       
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">


                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_support.gif" width="204" height="209" border="0" usemap="#Map3"></div></td>
  <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_support_faq.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div align="center">
                                                                        <a href="@Url.Action("FAQ","Home")">System FAQ</a> - <a href="@Url.Action("FAQGamePlay","Home")">Game Play FAQ</a> - <a href="#"><strong>Security FAQ</strong></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="5">
                                                                    <p><strong><em><font size="2" color="#990000">This FAQ is to help gamers safely play Knight Online. </font></em></strong></p>
                                                                    <p>
                                                                        It is each individual's responsibility to keep his or her account safe.<br>
                                                                        CrashGaming's responsibility in Knight Online is to provide game service.
                                                                    </p>
                                                                    <p>
                                                                        There has never been a case where a security of our system was compromised.<br>
                                                                        The only way someone can gain an access to your account is by knowing the accout information.<br>
                                                                        Here are the some steps you can take to ensure the safety of your account.
                                                                    </p>
                                                                    <p>
                                                                        <strong>1. CREATE A DIFFICULT PASSWORD.</strong><br>
                                                                        It is common sense NOT to make a password that is easy to guess. Some of the choices<br>
                                                                        you should definitely stay away from are<br>
                                                                        Name/Nickname/Account Name<br>
                                                                        Any type of number related to you<br>
                                                                        NEVER EVER choose simple passwords like '1111' 'asd' and etc.<br>
                                                                        DO NOT CHOOSE any word that is related to you such as things you own or know.<br>
                                                                        It is good idea to try and make a random passwords such as<br>
                                                                        'seja4awt4' or 'er35aer'<br>
                                                                        and when you do create a password, KEEP THEM TO YOURSELF. Which leads to the next topic.<br>
                                                                        WE WILL NEVER ASK FOR YOUR PASSWORD.
                                                                    </p>
                                                                    <p>
                                                                        <strong>2. DO NOT SHARE YOUR ACCOUNT!</strong><br>
                                                                        Meaning never ever tell anyone about your account information.<br>
                                                                        We have wintnessed many times where an indiovidual shared an account with a friend<br>
                                                                        or a clan mate and the trust was broken. It not only causes you the trouble but it<br>
                                                                        can severely affect the relationship you have with other players in Knight Online.<br>
                                                                        DO NOT SHARE YOUR ACCOUNT! not even your wife!<br>
                                                                        WE WILL NEVER ASK FOR YOUR PASSWORD.
                                                                    </p>
                                                                    <p>
                                                                        <strong>3. DO NOT DOWNLOAD ANY 3RD PARTY PROGRAM KNOWN TO BE MADE FOR KNIGHT ONLINE!</strong><br>
                                                                        We have NEVER officially created any 3rd party program for Knight Online.<br>
                                                                        Almost all of known illegal 3rd party program contains what is called a<br>
                                                                        'Keylogger' software. It is designed to record every keystroke on your computer<br>
                                                                        and sends the collected data over the internet to a designated server/email/individual.<br>
                                                                        It can also be a form of 'phishing' email or a site. They are usually designed to trick<br>
                                                                        you into 'easy level', 'instant weapon upgrade' or 'get more money!'.<br>
                                                                        Anything that is not from us should not be used nor accessed for Knight Online.<br>
                                                                        Not only your knight Online account can be compromised but it can also have devastating<br>
                                                                        effect on your email/messenger/bank/credit card/work/etc.<br>
                                                                        WE WILL NEVER ASK FOR YOUR PASSWORD.
                                                                    </p>
                                                                    <p>
                                                                        <strong>4. AVOID PLAYING IN PUBLIC PLACES.</strong><br>
                                                                        This includes places like LAN Centers, Cyber Cafes and PC Game Centers. Some of their<br>
                                                                        computers are infected with virues, trojans, keyloggers. There has been many incidents<br>
                                                                        where a slew of account was stripped because of keyloggers installed all over the game<br>
                                                                        center computers. We reComment you use extreme caution when playing Knight Online on a<br>
                                                                        computer you are not familiar with.<br>
                                                                        WE WILL NEVER ASK FOR YOUR PASSWORD.
                                                                    </p>
                                                                    <p>
                                                                        <strong>5. USE CAUTION WHEN TRADING.</strong><br>
                                                                        Never ever borrow your items to someone nor let them 'try it on'. We are not responsible<br>
                                                                        for stolen items. Please use common sense when trading.
                                                                    </p>
                                                                    <p>
                                                                        <strong><font size="2" color="#990000"><em>How To secure your account and computer</em></font></strong><br>
                                                                        There are some basic steps you can take to make sure your computer is safe from<br>
                                                                        malicious softwares and virues.
                                                                    </p>
                                                                    <p>
                                                                        <strong>1. Update windows with latest security patches.</strong><br>
                                                                        Microsoft still releases updates even after a major service pack comes out.<br>
                                                                        Check your windows update site weekly and download any security updates if necessary.
                                                                    </p>
                                                                    <p>
                                                                        <strong>2. Install Anti-Virus software.</strong><br>
                                                                        Norton and Mcafee's are most popular out there. There are free anti-virus scanner such<br>
                                                                        as AVG anti virus scanner and a reliable and frequently updated ones such as NOD32.<br>
                                                                        Make sure you update the definition file periodically and run a full scan.
                                                                    </p>
                                                                    <p>
                                                                        <strong>3. Install and run Anti Spyware/Adware software.</strong><br>
                                                                        Many of ActiveX and sharewares come with annoying adwares and sometimes devastating<br>
                                                                        spyware that monitors your computer activity and transmit data back and forth without<br>
                                                                        your knowledge. We highly reComment you run full sweep of either AdAware SE or Spybot S&amp;D.<br>
                                                                        Both are excellent anti spyware/adware software and are available free online.
                                                                    </p>
                                                                    <p>
                                                                        <strong>4. CREATE A DIFFICULT PASSWORD.</strong><br>
                                                                        DO NOT SHARE YOUR ACCOUNT!<br>
                                                                        DO NOT DOWNLOAD ANY 3RD PARTY PROGRAM KNOWN TO BE MADE FOR KNIGHT ONLINE!<br>
                                                                        AVOID PLAYING IN PUBLIC PLACES.<br>
                                                                        USE CAUTION WHEN TRADING.
                                                                    </p>
                                                                    <p>
                                                                        These will not only help you secure your Knight Online account but all of your<br>
                                                                        computer related account as well.<br>
                                                                    </p>
                                                                    <p>
                                                                        <br>
                                                                        Unfortunately, there isn't much you can do if your Knight Online account has been broken into.<br>
                                                                        At best, we might be able to generate you a random password or lock the account<br>
                                                                        until your computer is safe to resume any operation.
                                                                    </p>
                                                                    <p>
                                                                        If you feel like your computer has been hacked, SHUT DOWN THE COMPUTER as soon as possible<br>
                                                                        and report it your local police. If they find that there was a real hacking done on your computer<br>
                                                                        we will cooperate with police on tracking down the hacker. Don't forget to contact all of your<br>
                                                                        bank, credit card, DMV or any personal related agency and stop your account before any damage is done.
                                                                    </p>
                                                                    <p>This is why it is so important to protect yourself and your computer.</p>
                                                                </td>
                                                            </tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

        
                </div>
            </td>
        </tr>
    </tbody>
</table>
<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("FAQ")">
    <area shape="rect" coords="29,93,174,123" href="" onclick="alert('Please log in to reach customer support')">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("Policies")">
</map>