@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
          
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">


                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_support.gif" width="204" height="209" border="0" usemap="#Map3"></div></td>
  <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_support_faq.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div align="center">
                                                                        <a href="@Url.Action("FAQ","Home")">System FAQ</a> - <a href="#"><strong>Game Play FAQ</strong></a> - <a href="@Url.Action("FAQAccount","Home")">Account FAQ</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="5">
                                                                    <p>
                                                                        <strong>I can't connect to the game servers. It says login server failed!</strong><br>
                                                                        It is down because of either regular game maintenance or in an event of server crash.<br>
                                                                        Login servers could be down for about 5min when the servers are coming online so please<br>
                                                                        try again later.
                                                                    </p>
                                                                    <p>
                                                                        <strong>There is a huge lag in the game. What can I do?</strong><br>
                                                                        First of all, it is impossible to have lag-free game for everyone in the world.<br>
                                                                        There are certain steps to decrease the lag as much as possible.<br>
                                                                        Try minimzing the game graphics and details. It is also good idea to turn off any background<br>
                                                                        program running.<br>
                                                                        Also make sure the firmware on the router/switch is updated to the latest version.<br>
                                                                        Try pining major websites and see what the ping is and look for any time outs.<br>
                                                                        Please contact your ISP if you are experiencing high pings and time outs.<br>
                                                                        It is also a good idea to have a computer that is above minimum requirement spec.
                                                                    </p>
                                                                    <p>
                                                                        <strong>I just got disconnected from a game.</strong><br>
                                                                        The quality of the connection is the issue here.<br>
                                                                        It is due to time outs between the server and your computer. Please refer to the question above.
                                                                    </p>
                                                                    <p>
                                                                        <strong>Why do you guys have to perform maintenance every week?</strong><br>
                                                                        The weekly maintenance is to keep the servers performing in top condition.<br>
                                                                        We also update features and add game updates to the servers. We understand that<br>
                                                                        it is very frustrating to not be able to connect to the game but the maintenance<br>
                                                                        keeps the servers in good condition. Please understand that we always try to minimize the<br>
                                                                        maintenance hours and work during the tiem of the day where Knight Online usage is most less.
                                                                    </p>
                                                                    <p>
                                                                        <strong>Knight Online graphic seems bit weird. What's the problem?</strong><br>
                                                                        There were known issues with certain chipsets with certain video card chipset combo.<br>
                                                                        Please update all of bios and drivers including video/audio/motherboard chipset.<br>
                                                                        Knight Online requires DirectX 8 or higher. You can download the latest<br>
                                                                        DirectX at http://www.microsoft.com/directx
                                                                    </p>
                                                                    <p>
                                                                        <strong>It seems to take a while recharging Knight Cash or using Power Up Store.</strong><br>
                                                                        The transaction takes a little while to process. Please be patient and<br>
                                                                        click once. It will be updated shortly on the Power Up Store window.
                                                                    </p>
                                                                    <p>
                                                                        <strong>I see a transaction on my bank record but I dont have any items in game!</strong><br>
                                                                        The reason for seeing a transaction is a declined transaction. They will be<br>
                                                                        flushed out in about 1 business day. If you don't have the item then you weren't<br>
                                                                        charged. Please confirm the required information with your bank if you want to<br>
                                                                        try using the Power up Store again.
                                                                    </p>
                                                                    <p>
                                                                        <strong>I am getting an error trying to recharge my Knight Cash.</strong><br>
                                                                        Please choose 'none' for states If you are living out side of United States.
                                                                    </p>
                                                                    <p>
                                                                        <strong>I think I may have found a new bug! What do I do?</strong><br>
                                                                        Please report them in our forum. We have separate section for bug reporting purpose.<br>
                                                                        Including screen shot will help speed up the process of having a fix out.
                                                                    </p>
                                                                    <p>
                                                                        <strong>Downloading patch update takes long time!</strong><br>
                                                                        It is because there are serveral thousand people trying to log in at once after the maintenance<br>
                                                                        is done and servers come online with new patch. The launcher program may see like it is stuck<br>
                                                                        but it is downloading the update so please be patient. It is good idea to try after about 30min<br>
                                                                        when most of the people have updated the game. We will be upgrading our download/patching servers<br>
                                                                        and adding additional capacity.
                                                                    </p>
                                                                    <p>
                                                                        <br>
                                                                        <strong>Please visit our official forum</strong>
                                                                    </p>
                                                                    <p><strong><a href="http://ko4life.net/topic/50-the-openko-project/">OpenKO Forum</a></strong></p>
                                                                    <p><strong>if you need any additional assistance </strong></p>
                                                                </td>
                                                            </tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr></tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>
<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("FAQ")">
    <area shape="rect" coords="29,93,174,123" href="" onclick="alert('Please log in to reach customer support')">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("Policies")">
</map>