@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
          
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">

                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_support.gif" width="204" height="209" border="0" usemap="#Map3"></div></td>
 <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_support_customer.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="maintext">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="headertextr"><div align="center"><br>*** BE SURE TO CHECK YOUR SPAM FOLDER/BULK MAIL FOLDER FOR YOUR NEW PASSWORD *** </div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <br><br>
                                                                                    <form id="form1" name="form1" method="post" action="@Url.Action("ForgotPassword","Home")">
                                                                                        <p>
                                                                                            Account ID:<br>
                                                                                            <input name="userid" type="text" id="userid" size="15">
                                                                                            <br>
                                                                                            email address: <br>
                                                                                            <input name="email" type="text" id="email" size="30">
                                                                                            <input name="sub" type="hidden" id="sub" value="1">
                                                                                            <input type="submit" name="Submit" value="Submit">
                                                                                        </p>
                                                                                    </form>
                                                                                    <br>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="headertextb"><div align="center">If you are unable to reset your password with this form, please contact customer support. </div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

       
                </div>
            </td>
        </tr>
    </tbody>
</table>
<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("FAQ")">
    <area shape="rect" coords="29,93,174,123" href="" onclick="alert('Please log in to reach customer support')">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("Policies")">
</map>