@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">

                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_events.gif" width="204" height="244" border="0" usemap="#Map3"></div></td>
 <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_events_forgotten_temp.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span class="headertext_red">Event Schedule</span><br>
                                                                    The Forgotten Temple event takes place everyday at 6am, 12pm,
                                                                    and 7pm on all servers.<br>
                                                                    • You need to go talk to the NPC in Moradon in order to go to
                                                                    the Forgotten Temple. The requirement for entering the temple
                                                                    is as follows:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span class="headertext_red">Forgotten Temple 1</span><br>
                                                                    Level : 60 and above<br>
                                                                    Opening Time : 12PM, 7PM, and 6AM everyday (Note: There is approximately
                                                                    a 2-minute window to enter this event. Please be prompt)<br>
                                                                    Teleporting Location : Through the NPC in Moradon, name: Laemith,
                                                                    cost: 500K. The coordinates are 446, 475
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <img src="~/Content/Website/images/events_laemith.gif" width="400" height="300"><br>
                                                                    <strong>Laemith (Forgotten Temple 1: 446, 475)</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span class="headertext_red">Forgotten Temple 2</span><br>
                                                                    Level : 46~59<br>
                                                                    Opening Time : 11AM, 6PM, 5AM everyday (Note: There is approximately
                                                                    a 2-minute window to enter this event. Please be prompt) <br>
                                                                    Teleporting Location : Through the NPC in Moradon, name: Laedith,
                                                                    cost: FREE. The coordinates are 450, 449
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <img src="~/Content/Website/images/events_laedith.gif" width="400" height="300"><br>
                                                                    <strong>Laedith (Forgotten Temple 2: 450, 449) </strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext_red">Rules Forgotten Temple:</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1. Only the first 32 people can enter the Forgotten Temple.<br>
                                                                    2. You can teleport to Forgotten Temple through the NPC in Moradon.<br>
                                                                    3. You cannot earn any coins/items in Forgotten Temple. The
                                                                    only thing you can earn is experience points.<br>
                                                                    4. When you're in the Forgotten Temple, you can teleport back
                                                                    to Moradon by typing the command ?town?or by disconnecting from
                                                                    the game, regardless of your current HP.<br>
                                                                    5. When you kill all the monsters in Forgotten Temple, you'll
                                                                    receive a Treasure Chest. You can get items through this chest.
                                                                    Each shrine will give out different chest.<br>
                                                                    6. There's a 30 minute time restriction in Forgotten Temple.
                                                                    If you do not eliminate all the monsters within 30 minutes,
                                                                    the gate to the temple will be closed.<br>
                                                                    7. You can form party inside the Forgotten Temple, regardless
                                                                    of your nationality.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext_red">Rewards for Forgotten Temple</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    To those that gets through the Forgotten Temple, a treasure
                                                                    chest will be given as a reward. You can take this chest to
                                                                    Miraselth (NPC) to open it.<br>
                                                                    <strong>Dark Vane</strong><br>
                                                                    - Made by the Dark Elf, it kills the opponent instantaneously.<br>
                                                                    - Attack 62, Glacier Damage 30, Dex 5, MaxHP-100, MaxMP100.<br>
                                                                    <strong>Smite Hammer</strong><br>
                                                                    - Crafted by the monk from the Logos Temple.<br>
                                                                    - Attack 92, Flame 20, STR5 MAXHP, MP+50<br>
                                                                    <strong>Hanguk Sword</strong><br>
                                                                    - Crafted by the artisans of Chosun. Has mysterious powers.<br>
                                                                    - Attack 67, Poison 30, STR 5.<br>
                                                                    <strong>Defender of the Lord</strong><br>
                                                                    - Shield of Zignon. Said to have embedded magical powers.<br>
                                                                    - Defense 185, MaxHP, MP+10, Knife, Bow Defense 5, Reflect Physical
                                                                    Attack 5.<br>
                                                                    <strong>Hell Breaker</strong><br>
                                                                    - Built only in Halskarem, the city of steel.<br>
                                                                    - Attack 131, Flame 50, INT 5<br>
                                                                    <strong>Enion Bow</strong> <br>
                                                                    - Said to be made from the hair of Elf Enion.<br>
                                                                    - Attack 91, Lightning 30, STR 5.<br>
                                                                    <strong>Wreath of Erenion</strong><br>
                                                                    - Contains strong flame power.<br>
                                                                    - Attack 65, Flame 30, STR 5, MP 1, MAX MP+20, Resistance to
                                                                    Lightning 20.<br>
                                                                    <strong>Glacier Erenion</strong> <br>
                                                                    - Contains strong glacier power.<br>
                                                                    - Attack 65, Glacier 30, HP 5, MP 1, MAX MP+20, Resistance to
                                                                    Flame 20.<br>
                                                                    <strong>Lightning Erenion</strong><br>
                                                                    - Contains strong lightning power.<br>
                                                                    - Attack 65, Lightning 30, INT 5, MP 1, MAX MP+20, Resistance
                                                                    to Glacier 20.<br>
                                                                    <strong>Rons Staff</strong><br>
                                                                    - Magician of Brisbia. Said to have been missing since his battle
                                                                    against manticore.<br>
                                                                    - Attack 60, Flame 20, Glacier 20, Lightning 20, MP 1, MAX MP+20,
                                                                    Flame resistance +5, glacier<br>
                                                                    &nbsp;&nbsp;resistance +5, lightning resistance +5.<br>
                                                                    <br>
                                                                    You can also earn gold, silver, and 6th armor, and various other
                                                                    items
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

               
                </div>
            </td>
        </tr>
    </tbody>
</table>
<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("LunarWar")">
    <area shape="rect" coords="29,93,174,123" href="@Url.Action("DarkLunarWar")">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("CastleSiegeWar")">
    <area shape="rect" coords="29,163,174,191" href="@Url.Action("ForgettenTemple")">
</map>