@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
      
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">

                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="130" valign="top"><div align="right"></div></td>
                                                <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_guide_new_players.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i> New Player Guide - Suggested for levels 30 and under.</i>
                                                                    <p><img src="~/Content/Website/images/new_players_chapter_1_en.jpg" width="488" height="62"></p>
                                                                   
                                                                    <p>
                                                                        <span class="text">
                                                                            SECTION 1<br><br>
                                                                            <strong>Installation and Character Creation</strong>
                                                                        </span>
                                                                    </p>
                                                                    <p><span class="text">To begin your journey in Knight Online, you must first register an account and download the Knight Online client from the official website at <a href="http://ko4life.net/topic/50-the-openko-project/" class="bodytext">OpenKO Forum</a>. Be sure to check for hardware and software minimum requirements. An Account Activation email will be sent to you after completing the Registration Form.</span></p>
                                                                    <p align="center"><span class="text"><img src="~/Content/Website/images/koweblogin.png" height="237" width="245" border="0" v:shapes="_x0000_i1025"></span><span class="text"> </span></p>
                                                                    <p><span class="text">First, you will need to choose a world to begin your quest. A "world<b>"</b>, such as "Ares", will contain multiple servers. All of these servers (such as Ares1, Ares2, and Ares3) all belong to the same world. (Please note that once you choose a world and begin playing, the character and all items related to that character will not be accessible from any of the other worlds.) You are granted 10 Bonus STAT points during the Character Creation and you can distribute these points into various attributes of your choice.</span></p>
                                                                    <p>
                                                                        <span class="text">
                                                                            <strong>STR</strong>- Strength - Determines the Strength of your character<br>
                                                                        </span><span class="text">
                                                                            <strong>DEX</strong>- Dexterity - Determines the Evasion of your character<br>
                                                                        </span><span class="text">
                                                                            <strong>HP</strong>- Hit Points - Determines the amount of life your character has<br>
                                                                        </span><span class="text">
                                                                            <strong>INT</strong>- Intelligence - Determines the size of your character's Mana (Magic) pool<br>
                                                                        </span><span class="text"><strong>MP</strong>- Mana Points - Determines your magic power against monsters</span>
                                                                    </p>
                                                                    <p><span class="text">After adding Bonus STAT points, you can then enter your Character Name and select "Create Character" to begin your Knight Online journey. As you level, you will gain additional STAT points to distribute.</span></p>
                                                                    <p align="center"><img src="~/Content/Website/images/newlogin.jpg" height="194" width="257" border="0" v:shapes="_x0000_i1026"></p>

                                                                    <p>
                                                                        <span class="text">
                                                                            SECTION 2<br><br>
                                                                            <strong>Power Up Store and Premiums</strong>
                                                                        </span>
                                                                    </p>
                                                                    <p><span class="text">Knight Online is free2play, but we do offer paid Premium Memberships to receive additional benefits as well as virtual in-game items for character enhancements.  To access the Power Up Store or for additional information, click the  "<img src="~/Content/Website/images/pus_p.jpg" height="16" width="19" v:shapes="_x0000_i1025">" icon located in the upper left side of your screen. You will be able to see all the services that we offer through the Power Up Store and read the descriptions of what they do to enhance game play.</span></p>
                                                                    <p align="center"><img src="~/Content/Website/images/pus_premiums.jpg" height="219" width="170" v:shapes="_x0000_i1026"></p>
                                                                    <p><img src="~/Content/Website/images/new_players_chapter_2_en.jpg" width="488" height="62"></p>
                                                                    <p>
                                                                        <span class="text">
                                                                            SECTION 1<br><br>
                                                                            <strong>Beginner's Helper</strong>
                                                                        </span>
                                                                    </p>
                                                                    <p><span class="text">After you create your new character, you will automatically appear in the neutral town of Moradon where your journey to become a Knight begins! There is much to learn about being a Knight, so it is best to familiarize yourself with Moradon until you reach level 20-30. Here you can start numerous Quests, train your skills, and access the largest merchant shops available.</span></p>
                                                                    <p>
                                                                        <span class="text">
                                                                            While exploring your new surroundings, you will find numerous and very useful NPCs (Non-Playable Characters) with a wide range of purposes. Select any NPC by left-clicking them once, and then right-click them to speak with them.<br>
                                                                        </span>
                                                                    </p>
                                                                    <p><span class="text">Before you can begin training, you must first supply your character with the necessary equipment. You can manage your character's armor, weapons and other various items through the Inventory (short-cut key "I"). Additional space is also available at your Inn Hostess located in most villages. However, Inn Hostesses are banks whereas Inventory is what you carry on you. So in order to access an item again in the bank; you will need to go to town to speak with her.</span></p>
                                                                    <p align="center"><img src="~/Content/Website/images/screen_shot1.jpg" height="262" width="351" v:shapes="_x0000_i1025"></p>
                                                                    <p>
                                                                        <span class="text">
                                                                            SECTION 2<br><br>
                                                                        </span><span class="text"><strong>Leveling and Partying</strong></span>
                                                                    </p>
                                                                    <p><span class="text"><em>Leveling</em></span></p>
                                                                    <p><span class="text">Each level will require an increased amount of experience points. You can find how much experience is necessary for the next level by opening the Character information window (short-cut key "U").</span></p>
                                                                    <p><span class="text"><em>Partying</em></span></p>
                                                                    <p><span class="text">Fighting stronger and larger groups of monsters is very difficult and sometimes only possible by hunting in a party. To party with other players, select the player(s) you wish to invite and click Invite, found at the bottom of your screen. The symbol  "<img src="~/Content/Website/images/P.jpg" height="19" width="20" v:shapes="_x0000_i1028">" appears next to the party leader's name and only he/she can invite additional party members. There can be a maximum of 8 members in a party.</span></p>
                                                                    <p align="center"><span class="text"><img src="~/Content/Website/images/screen_shot2.jpg" height="266" width="356" v:shapes="_x0000_i1026"></span></p>
                                                                    <p>
                                                                        <span class="text">
                                                                            SECTION 3<br><br>
                                                                        </span><span class="text"><strong>Character Development</strong></span>
                                                                    </p>
                                                                    <p><span class="text"><em>Skills</em></span></p>
                                                                    <p><span class="text">To see what kind of Basic Skills you have, open the Skill tab on the bottom of the screen. Here, you can see what skills you already have (icons that are not grayed out) and what skills await you in the future (icons that are grayed out). You can also read the description of each skill by moving your mouse over the icon. If there are skills that are not grayed out and also have MP consumption, this means you can drag the skill to your Skill Bar located on the left side of your screen. For instance, if you have "sprint" available as a Basic Skill, and you drag it to number 1 on your Skill Bar, that means you can just press "1" and your character will use that skill. You may also drag potions to the Skill Bar to shortcut to them.</span></p>
                                                                    <p><span class="text">After level 10 you will be able to start training for your specific role as a Knight by speaking with Captain Kugar in Moradon. Choosing your specialty will allow you to access your class specific skills (short-cut key "K"). (Note: Some skills have requirements for use).</span></p>
                                                                    <p align="center"><span class="text"><img src="~/Content/Website/images/Captain-Kugar.gif" height="362" width="200" v:shapes="_x0000_i1027"></span></p>
                                                                    <p><span class="text"><em>Stats</em></span></p>
                                                                    <p><span class="text">Stats points are used to determine which armors, weapons and items you can equip and use. Each character class should invest points into their specific stats, which are highlighted in light blue. For example, a Warrior will use mostly Strength (STR), whereas Dexterity (DEX) is specific to Rogues.</span></p>

                                                                
                                                                 </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

    
                </div>
            </td>
        </tr>
    </tbody>
</table>