@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
         
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">

                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_support.gif" width="204" height="209" border="0" usemap="#Map3"></div></td>
  <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_support_policies.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table class="textfield" width="100%" border="0" cellspacing="1" cellpadding="3">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td bgcolor="#472b00" width="26%"><font color="#FFFFFF"><strong>Penalty</strong></font></td>
                                                                                <td align="center" bgcolor="#472b00" width="18%"><font color="#FFFFFF"><strong>1st Offense</strong></font></td>
                                                                                <td align="center" bgcolor="#472b00" width="18%"><font color="#FFFFFF"><strong>2nd Offense</strong></font></td>
                                                                                <td align="center" bgcolor="#472b00" width="19%"><font color="#FFFFFF"><strong>3rd Offense</strong></font></td>
                                                                                <td align="center" bgcolor="#472b00" width="19%"><font color="#FFFFFF"><strong>4th Offense</strong></font></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Harrassment (No. 2)</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 3 days</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 7 days</td>
                                                                                <td colspan="2" align="center" bgcolor="#FFFFFF">Mute 14 days</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Offensive Language (No. 3)</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 2 days</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 7 days</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 30 days</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 30 days</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Impersonation (No. 4)</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 3 days</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 7 days</td>
                                                                                <td colspan="2" bgcolor="#FFFFFF" walign="center">
                                                                                    <div align="center">
                                                                                        Mute 14 days
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Law Violation (No. 6)</td>
                                                                                <td colspan="4" align="center" bgcolor="#FFFFCC">Ban Permanently</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">
                                                                                    <p>Attemping to play KOL on a service not controlled or authorized by K2 Network (No. 16) or calling other players to violate this rule</p>
                                                                                </td>
                                                                                <td colspan="4" align="center" bgcolor="#FFFFCC">Ban Permanently</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Server Emulator (No. 17)</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Ban 7 days</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Ban 14 days</td>
                                                                                <td colspan="2" align="center" bgcolor="#FFFFFF">Ban 1 month</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Interference with users (No. 18)</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Ban 3 days, de-np to zero</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Ban 7 days, de-np to zero</td>
                                                                                <td colspan="2" align="center" bgcolor="#FFFFFF">Ban 14 days, de-np to zero</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Shouting Hack Sites</td>
                                                                                <td colspan="4" bgcolor="#FFFFCC">
                                                                                    <div align="center">
                                                                                        Ban Permanently
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">NP Transfers</td>
                                                                                <td colspan="4" bgcolor="#FFFFFF">
                                                                                    <div align="center">
                                                                                        Reduced to 100 NP
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Bug Abuse (using safe zone to get additional NPs during Lunar War)</td>
                                                                                <td colspan="4" bgcolor="#FFFFFF">
                                                                                    <div align="center">
                                                                                        Reduced to 100 NP
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Dupers</td>
                                                                                <td colspan="4" bgcolor="#FFFFCC">
                                                                                    <div align="center">
                                                                                        Ban Permanently
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Credit Card Fraud</td>
                                                                                <td colspan="4" bgcolor="#FFFFCC">
                                                                                    <div align="center">
                                                                                        Ban Permanently
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Hacking into another's account</td>
                                                                                <td colspan="4" bgcolor="#FFFFCC">
                                                                                    <div align="center">
                                                                                        Ban Permanently
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Violation of Naming Policy</td>
                                                                                <td colspan="4" bgcolor="#FFFFFF">
                                                                                    <div align="center">
                                                                                        Voluntarily deletes in 24 hours, or it will be deleted by KOL
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr valign="top">
                                                                                <td bgcolor="#cccccc">Speed Hack, Macro, Bot, and Jingling</td>
                                                                                <td align="center" valign="middle" bgcolor="#FFFFFF">Ban 30 days</td>
                                                                                <td align="center" valign="middle" bgcolor="#FFFFFF">Ban 70 days</td>
                                                                                <td align="center" valign="middle" bgcolor="#FFFFFF">Ban 100 days</td>
                                                                                <td align="center" valign="middle" bgcolor="#FFFFCC">Ban Permanently</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Communicating with in game GM using rude language or spam messages.</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 3 days</td>
                                                                                <td align="center" bgcolor="#FFFFFF">Mute 7 days</td>
                                                                                <td colspan="2" align="center" bgcolor="#FFFFFF">Mute 14 days</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Possession of Bug item, Dupe item, Hacked item or Stolen item.</td>
                                                                                <td colspan="4" align="center" bgcolor="#FFFFFF">Ban 7 day, All suspicious items and coins are deleted</td>
                                                                            </tr>
                                                                            <tr valign="top">
                                                                                <td bgcolor="#cccccc">Duping Item</td>
                                                                                <td colspan="4" align="center" bgcolor="#FFFFCC">Ban permanently</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">In game scam player ID or item, after investigation and verify</td>
                                                                                <td colspan="4" align="center" bgcolor="#FFFFCC">Ban permanently after investigation</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#cccccc">Steal another player ID, after investigation and verify</td>
                                                                                <td colspan="4" align="center" bgcolor="#FFFFCC">Full Account Ban permanently after investigation</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

     
                </div>
            </td>
        </tr>
    </tbody>
</table>
<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("FAQ")">
    <area shape="rect" coords="29,93,174,123" href="" onclick="alert('Please log in to reach customer support')">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("Policies")">
</map>