@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
         
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">


                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_game_info.gif" width="204" height="173" border="0" usemap="#Map3"></div></td>
 <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_game_info_story.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">
                                                                    <img src="~/Content/Website/images/ico_bullet_elmorad.gif" width="16" height="16" align="absmiddle">
                                                                    The World of Carnac
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <img src="~/Content/Website/images/alpha_i.gif" width="42" height="88" align="left"><img src="~/Content/Website/images/spacer.gif" width="3" height="88" align="left">n
                                                                    the beginning there was chaos. Timeless energies swirled in
                                                                    a great mass of color and light in the soundlessness of space.
                                                                    Over the millennia the energies gained substance and began to
                                                                    weave itself into the fabric of what would one day spell life.
                                                                    <p>
                                                                        Out of this fabric a thread, an insignificant piece of power
                                                                        disentangled itself from the mass. While the essence of this
                                                                        thread was one and the same as the energies which at the very
                                                                        moment were evolving, it changed along a separate path. It
                                                                        alone gained consciousness.
                                                                    </p>
                                                                    <p>Time passes...</p>
                                                                    <p>
                                                                        The consciousness comes awake. At first it wanders around
                                                                        what now has become a star, so compact has the energies woven
                                                                        itself over the eons. It looks upon the lifeless star and
                                                                        is touched by his first feeling, sadness.
                                                                    </p>
                                                                    <p>
                                                                        With his hands outstretched he, Logos, took it upon himself
                                                                        to create life. For days he shaped what would become the world
                                                                        Carnac. At first he created the lands, the tallest mountains
                                                                        and the deepest valleys. He then created the clouds and the
                                                                        sky. He thought he was finished and he was content.
                                                                    </p>
                                                                    <p>
                                                                        He watched the world from the mountains, reveling in the
                                                                        cools winds that swept its peak. He touched the clouds and
                                                                        felt a wetness like he had never felt before; he liked the
                                                                        feeling, the cool wet feeling of water. He tasted it and was
                                                                        amazed by its purity and how refreshing it was. He thought
                                                                        about this, and he looked down to the land beneath him. It
                                                                        was dark and dry, and for the first time he realized that
                                                                        apart from the mountains the world did not look beautiful,
                                                                        and though the world turned it was not alive. It did not speak,
                                                                        it did not grow. It would merely spin for eternity, like the
                                                                        energies it was molded from.
                                                                    </p>
                                                                    <p>
                                                                        He thought of the moisture in the clouds and remembered the
                                                                        joy he felt in the experience. He wanted the lands to feel
                                                                        as he felt, he willed the clouds to rain and so it did. It
                                                                        rained for 49 days and the water carved the rocks, flooded
                                                                        the valleys and created the ocean. Soon the world was a splendid
                                                                        blue, like a turquoise jewel hanging in the colorlessness
                                                                        of space. But there must be those who can experience the splendors
                                                                        of the rivers, oceans and lakes. The rocks and mountains as
                                                                        Logos had learned were lifeless.
                                                                    </p>
                                                                    <p>
                                                                        Taking the remaining energies from the clay he used to fashion
                                                                        the mountains, he created life. First he created the fishes
                                                                        to swim in the water he loved so much. Then he planted the
                                                                        trees who would forever favor the presence of its moisture.
                                                                        Later came the animals and the soaring birds that further
                                                                        graced the world with life. Last came men, whom he created
                                                                        in his likeness. They too had the power to mold the world
                                                                        to suit their needs and the first seeds of mankind he placed
                                                                        near the great rivers which had been created. There they would
                                                                        have all they need to prosper.
                                                                    </p>
                                                                    <p>
                                                                        For a time all was well. Logos, now a God, was content. And
                                                                        all his creations rejoiced and prospered in the land bestowed
                                                                        to them. But all was to be undone. In his haste to create
                                                                        mankind in his own image a piece of clay was left unused.
                                                                        The clay lay forgotten in the darkest valley of the new world.
                                                                        There it lay for centuries, waiting for its turn to be molded
                                                                        into something beautiful. At first it was patient.
                                                                    </p>
                                                                    <p>
                                                                        "Logos has a special plan for me," it thought to
                                                                        itself. "Maybe he has not yet decided what to mold me
                                                                        into."
                                                                    </p>
                                                                    <p>
                                                                        But as with everything with consciousness, its patience waned
                                                                        and it grew bitter. Made of the very fabric of the world and
                                                                        instilled with a mind not unlike Logos himself, the forgotten
                                                                        piece of clay willed itself into existence. Bit by bit it
                                                                        transformed and with each transformation it grew ever more
                                                                        hateful of being forgotten.
                                                                    </p>
                                                                    <p>
                                                                        By the time Logos recalled the forgotten piece, it was far
                                                                        too late. An entity which named itself Patos had been formed.
                                                                        It rivaled Logos in power but contained none of the compassion,
                                                                        love and the desire to create as its counterpart. Instead
                                                                        it longed to twist what Logos had painstakingly created. As
                                                                        revenge, Patos' first act of power was to instill change,
                                                                        change which Logos from the very beginning hated.
                                                                    </p>
                                                                    <p>
                                                                        From his act came the four seasons, day and night, life and
                                                                        death. But this wasn't enough; Patos wanted Logos to experience
                                                                        the pain and abandonment he felt. Taking a handful of sand,
                                                                        Patos infused within every grain what would be known as the
                                                                        sins of men, filled with sentiments and impulses. Each grain
                                                                        he took and planted into all of mankind; and with that act,
                                                                        men turned away from Logos. They learned greed, lust, and
                                                                        had a desire to dominate and destroy.
                                                                    </p>
                                                                    <p>Powerless to stop it, Logos wept.</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center"><img src="~/Content/Website/images/div_illuminated.gif" width="284" height="30"></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">
                                                                    <img src="~/Content/Website/images/ico_bullet_elmorad.gif" width="16" height="16" align="absmiddle">
                                                                    The Beginning of Chaos
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p>
                                                                        <img src="~/Content/Website/images/alpha_i.gif" width="42" height="88" align="left"><img src="~/Content/Website/images/spacer.gif" width="3" height="88" align="left">t
                                                                        has been some time since Patos changed the world. But while
                                                                        it wasn't his intention, by bringing about the distinction
                                                                        between life and death a new player of this game between the
                                                                        Gods came to being. When there was no death there was no need
                                                                        to create new life for all endured, this was the vision of
                                                                        Logos, an enduring world which would retain its splendor for
                                                                        all eternity. But with the onset of death the fabric of creation
                                                                        shifted, for if those with life were to die, new life had
                                                                        to take their place. While Logos had the power to create he
                                                                        did not posses the power to renew. The duty to recreate life
                                                                        from the energies left behind by the dead fell to a new god,
                                                                        the Goddess of Life, Akara.
                                                                    </p>
                                                                    <p>
                                                                        Unlike Logos and Patos, who interacted little with the world,
                                                                        Akara was in constant contact with every living being. She
                                                                        watched the old wither and die and she nurtured the young
                                                                        to take their places. She learned to understand the creatures
                                                                        which inhabited the world; she learned to love them as her
                                                                        own even though she was not their true creator and they paid
                                                                        her no homage. Over time, she felt Logos growing ever distant
                                                                        in his grief; she knew that Logos now neglected his creations
                                                                        for he could bear not the pain of them having been changed.
                                                                        While she did not bring fault to either Logos or Patos, she
                                                                        despaired that life no longer prospered as it once did under
                                                                        the guidance of the creator.
                                                                    </p>
                                                                    <p>
                                                                        "Perhaps," she thought, "I should adopt these
                                                                        children as my own."
                                                                    </p>
                                                                    <p>
                                                                        As fate would have it, the petition to claim all of creation
                                                                        as her own was turned down. Logos feared that he would loose
                                                                        his creations even further. He promised Akara that he would
                                                                        resume his responsibility; and the goddess was satisfied with
                                                                        this answer and lay the matter to rest. After all, all she
                                                                        wanted was the world to be cared for; it mattered little to
                                                                        her who claimed stewardship. However, even though she herself
                                                                        may not have realized it, deep down she wished she had that
                                                                        honor.
                                                                    </p>
                                                                    <p>
                                                                        But just as Logos began fulfilling his promise, Patos reemerged.
                                                                        This time he decided to warp the very first of Logos' creations,
                                                                        the very mountains in which Logos first felt the winds and
                                                                        touched the clouds. With ease, Patos called up fire from deep
                                                                        within Carnac's core. The pent up forces erupted through mountain
                                                                        peaks creating fiery craters of molten lava. Horrified at
                                                                        the destruction of his beloved mountains, Logos was slow to
                                                                        stop him as Patos struck mighty blows cracking the sides of
                                                                        every volcano causing their destructive forces to flow unheeded
                                                                        to engulf and ignite all that stood in its path. Forests and
                                                                        their inhabitants were destroyed, rivers boiled to nothingness,
                                                                        and men standing petrified at the horror unfolding before
                                                                        them lost their lives.
                                                                    </p>
                                                                    <p>
                                                                        Generations later, many of the forests that were destroyed,
                                                                        Akara regrew. Animals once again walked the earth in abundance
                                                                        and rivers again flowed as they once did. Men too recovered
                                                                        their losses and many of the new generation knew nothing of
                                                                        what their fore fathers experienced. To them the silent mountains
                                                                        had always spewed fire every so often, and they had learned
                                                                        to be wary of its captivating beauty. In fact, most had never
                                                                        set foot on a mountain let alone gazed down at the beautiful
                                                                        world from it, as Logos once did. Due to this, Logos again
                                                                        retreated into his own despair and cared not a bit for the
                                                                        world that was no longer his own.
                                                                    </p>
                                                                    <p>
                                                                        This time Akara was determined to take over Logos' supposed
                                                                        responsibility. And since she knew he would never give it
                                                                        up easily, for the good of life itself, she conspired to rid
                                                                        the world of the weak hearted Logos and the disruptive Patos.
                                                                        Unbeknownst to the other gods, Akara knew of one other. There
                                                                        was the god Cypher, who knew of nothing but destruction and
                                                                        deceit. Some believe that it was Cypher who, by using methods
                                                                        unknown, planted the ideas of bringing about destructive changes
                                                                        to Carnac. For while Patos was responsible for change, it
                                                                        was not in his nature to destroy. Many a historian would debate
                                                                        this issue in years to come.
                                                                    </p>
                                                                    <p>
                                                                        Being told of the existence of Cypher, Logos grew wary and
                                                                        questioned Akara about this new "god".
                                                                    </p>
                                                                    <p>
                                                                        "How Cypher came into being is not known to me, but
                                                                        what is certain is that the power of creation he has not.
                                                                        He cannot weave dust into mountains, change the rain into
                                                                        snow nor can he bring life into the world. What he can do
                                                                        is grind the tallest mountain into the finest dust, fire snow
                                                                        into vapor and smite every living thing. He has the power
                                                                        to destroy, nothing more, nothing less. It is his power you
                                                                        need to be rid of Patos".
                                                                    </p>
                                                                    <p>
                                                                        Upon hearing this, Logos was elated and immediately left
                                                                        to seek out this god, Cypher. Logos had dreams of his world
                                                                        returning to its prior form and did not see the goddess' faint
                                                                        smile.
                                                                    </p>
                                                                    <p align="center">~</p>
                                                                    <p align="left">
                                                                        Once found, Cypher was not the image of power
                                                                        which Logos had envisioned. He was the anti thesis of magnificence,
                                                                        he looked frail, worn and possessed none of the aura of the
                                                                        other gods. Regardless, Logos trusted the Goddess of Life
                                                                        and proceeded to ask for the favor.
                                                                    </p>
                                                                    <p align="left">
                                                                        Unknown to him, Akara had already approached
                                                                        Cypher and had told him of the opportunity to destroy their
                                                                        predecessors. "You should kill Patos first", she
                                                                        had said. "Logos is idealistic and weak, him you can
                                                                        kill at your leisure". Cypher trusted Akara as well,
                                                                        for the purity of life held no evil and life after all was
                                                                        her domain.
                                                                    </p>
                                                                    <p align="left">
                                                                        In preparation to confronting Patos, Logos reached
                                                                        out and drew the clouds around him. From the clouds he fashioned
                                                                        a blade so beautiful it masked its deadliness. This blade
                                                                        he gave to Cypher, and together they journeyed to the deepest
                                                                        valley of Carnac where Patos resided.
                                                                    </p>
                                                                    <p align="left">
                                                                        At the mouth of the valley stood a massive fortress;
                                                                        strange a god of change would choose to reside in something
                                                                        so unyielding and unchanging. But as they approached, Patos
                                                                        stepped out from the shadows. In his hand he brandished a
                                                                        spear of finest wood, tinged with green. It radiated life
                                                                        itself and there was a certain calmness to it, the calm of
                                                                        a peaceful forest, there could be only one who could have
                                                                        created such a weapon.
                                                                    </p>
                                                                    <p align="left">
                                                                        The one who had warned Patos of the arrival
                                                                        of the other two was now patiently waiting for what she thought
                                                                        inevitable, the end of Logos, Patos and with luck Cypher as
                                                                        well.
                                                                    </p>
                                                                    <p align="left">
                                                                        The battle was swift yet furious, no words were
                                                                        exchanged by the combatants as Cypher charged, his gleaming
                                                                        sword held high. Patos merely stood blocking blow after blow
                                                                        with his spear while counter-attacking when he could. Logos
                                                                        merely stood watching the fight unfold, praying that Patos
                                                                        would meet his end.
                                                                    </p>
                                                                    <p align="left">
                                                                        Evenly matched, the gods turned to their individual
                                                                        powers to give them an edge. At first Patos swept away the
                                                                        sun and the stars sending the world into darkness. Cypher,
                                                                        who was already unused to the dark valley, now found himself
                                                                        ever more blinded. Patos lunged, his spear grazing the shoulder
                                                                        of his opponent. Angered, the wounded god rained destruction
                                                                        upon the valley setting all but the rocks aflame. Recovering
                                                                        his sight and catching Patos totally off guard as he stared
                                                                        at his burning fortress, Cypher slashed and severed the left
                                                                        hand of Patos.
                                                                    </p>
                                                                    <p align="left">
                                                                        Like thunder Patos screamed in pain as his lifeblood
                                                                        drained out of him. But while Cypher and Logos looked upon
                                                                        him triumphantly, something happened. Subtle changes occurred
                                                                        within Patos and Cypher, their appearance did not change but
                                                                        their demeanor, their life force if you will, shattered and
                                                                        reformed into the image of each other. Patos through some
                                                                        means of magic now resided in the body of Cypher, whereas
                                                                        the essence of Cypher now lay in the torn body of the one
                                                                        he had wounded only moments earlier.
                                                                    </p>
                                                                    <p align="left">
                                                                        Though in pain the spirit of Cypher refused
                                                                        to just die. With a last act of will he hurled the spear he
                                                                        clutched at his own body, the body that was stolen from him.
                                                                        Patos who was reflecting upon his own genius did not manage
                                                                        to avoid the spear thrown at him by the Lord of Destruction.
                                                                    </p>
                                                                    <p align="left">
                                                                        Patos now lay dead, while Cypher lay dying.
                                                                        Cypher grew ever weaker and with Logos having fled when he
                                                                        called fire down to the valley, he was on his own. It was
                                                                        then when he realized his powers were no longer confined to
                                                                        the destruction of things but with some effort he could induce
                                                                        change much like how Patos was renowned for. Focusing his
                                                                        fledgling abilities on his severed arm he first stopped the
                                                                        blood from flowing. He then pulled at the sinew and bones
                                                                        making them expand until they eventually took the shape of
                                                                        the missing limb.
                                                                    </p>
                                                                    <p align="left">
                                                                        Fully recovered he stood and with new found
                                                                        strength he shouted for all to hear, "I am reborn, fear
                                                                        me for I am now unmatched!"
                                                                    </p>
                                                                    <p align="left">
                                                                        As a display of strength he shattered the valley
                                                                        and out of the rubble fashioned a monument not of stone but
                                                                        of glass. The monument while not beautiful, with its sharp
                                                                        edges reaching out in all directions was no less magnificent.
                                                                        Men flocked to marvel at its construction and to pay homage
                                                                        to its creator, the god Cypher.
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center"><img src="~/Content/Website/images/div_illuminated.gif" width="284" height="30"></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">
                                                                    <img src="~/Content/Website/images/ico_bullet_elmorad.gif" width="16" height="16" align="absmiddle">
                                                                    The Tale of the Pianna Knights
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p>
                                                                        <img src="~/Content/Website/images/alpha_t.gif" width="74" height="88" align="left"><img src="~/Content/Website/images/spacer.gif" width="3" height="88" align="left">he
                                                                        fabric of creation is a fragile one. With the changes brought
                                                                        about by Patos and then the new Patos-Cypher entity, Carnac
                                                                        itself began to show gradual signs of change. At first it
                                                                        was the insignificant changes, the smell of flowers fading,
                                                                        the seasons being more unpredictable and ground water occasionally
                                                                        coming up brown, as though rusted. These things men took little
                                                                        notice of; there was no need for explanations for sometimes
                                                                        things "just happen".
                                                                    </p>
                                                                    <p>
                                                                        All these things were not Cypher's doing however, for he
                                                                        himself was too busy lavishing in the attention of his new
                                                                        found subjects. Years later, humankind had divided themselves
                                                                        up into the six great kingdoms, war monger Hellsgarem of the
                                                                        Deserts, Buegrant with its ports and ships of steel, the white
                                                                        city of Arrdeam, Planisad famous for magnificent harvests,
                                                                        Brisbia the center of commerce, and finally El Morad at the
                                                                        farthest end of all the kingdoms.
                                                                    </p>
                                                                    <p>
                                                                        It was around this time when strange creatures began appearing
                                                                        all over Carnac. At first, they were thought to be wolves,
                                                                        bears and others animals whose intentions could be violent.
                                                                        But they were not, they were different. And with each passing
                                                                        year their difference just grew and grew. Some began sighting
                                                                        beings of stone, magic, and worst of all, those who used to
                                                                        be friends, now resurrected into animated corpses bent on
                                                                        bringing all life to the level in which they understood, death.
                                                                    </p>
                                                                    <p>
                                                                        Before long, these "hellish creatures" had grown
                                                                        in such numbers that even human cities with their high walls
                                                                        and staunch defenders could not repel their might. The first
                                                                        to fall was Planisad, thus food resources were scarred. Soon
                                                                        after, Brisbia and Arrdeam fell. Even the mighty babarian
                                                                        kingdom, Hellsgarem did not survive, torching their own city
                                                                        instead of letting it fall. The few survivors flocked aboard
                                                                        the ships of the Buegrants who themselves were abandoning
                                                                        their city, fleeing for El Morad by sea.
                                                                    </p>
                                                                    <p>
                                                                        King Manes, then ruler of El Morad, took in the refugees
                                                                        without prejudice. Those able were given places in the army,
                                                                        further bolstering the defenses of the city which had not
                                                                        yet been attacked. New battlements were raised, and before
                                                                        the attack came, supplies were brought in, weapons forged
                                                                        and armor polished. The citizens of El Morad were determined
                                                                        not to let their city fall and those who had already fled
                                                                        were resolute in their loyalty to their new home, for if El
                                                                        Morad fell there was no one else to turn to. Through a turn
                                                                        of events, the insignificant El Morad had now become mankind's
                                                                        last stronghold. Should it fall, the seeds of humanity would
                                                                        cease to exist.
                                                                    </p>
                                                                    <p>
                                                                        Having been prepared, the defenders repelled what should
                                                                        have crushed them. After that initial trust, random sporadic
                                                                        attacks continued to come. For seven long years they fought
                                                                        and for seven long years King Manes prayed to the gods who
                                                                        seemed to have turned a deaf ear and a blind eye to the sufferings
                                                                        of their children. Though history will tell little beyond
                                                                        their suffering, our heroes after the first two years of fighting
                                                                        had grown accustomed to the random attacks. They were even
                                                                        prospering, to a fashion. They again dared to venture beyond
                                                                        the safety of their walls. Tunneling into the mountains behind
                                                                        the city they had a source for metals, wood they harvested
                                                                        by sending armed bands into the forests. Food proved a problem
                                                                        at first, but by relocating much of the populace into the
                                                                        mountains and underground, enough space was vacated for crops
                                                                        to be planted.
                                                                    </p>
                                                                    <p>
                                                                        By the third year, seasoned veterans had begun hunting these
                                                                        monsters. Traveling in small numbers these parties sought
                                                                        out and killed the weaker creatures and those which had strayed
                                                                        too far from the others. These warriors brought back stories
                                                                        of adventure and glory. Soon these parties organized themselves
                                                                        into what would be known as the Pianna Knights. They lived
                                                                        apart from El Morad and dedicated their lives to their work,
                                                                        some of them would even learn the arts of magic and healing.
                                                                        Arts long lost when men gained mortality.
                                                                    </p>
                                                                    <p>
                                                                        On the last night of the seventh year, something extraordinary
                                                                        occurred. Red rain began to fall over El Morad. Far away,
                                                                        a green fog inched ever closer. A warning had sounded and
                                                                        for the first time in years, all had run for the gates and
                                                                        more than one would admit that they were afraid.
                                                                    </p>
                                                                    <p>
                                                                        King Manes once again prayed to any who would listen. This
                                                                        time Cypher answered.
                                                                    </p>
                                                                    <p>
                                                                        "It is you, for so long I have prayed. Why do you only
                                                                        now answer?" King Manes asked. The gods had never answered
                                                                        before, and many doubted their existence.
                                                                    </p>
                                                                    <p>"There was no need," came the reply.</p>
                                                                    <p>"Everyday my people die, is there no greater a need?"</p>
                                                                    <p>"There is no need."</p>
                                                                    <p>
                                                                        Determined to see salvation, the king begged, "You have
                                                                        the power; at your will, all will be right again, we are but
                                                                        your humble servants."
                                                                    </p>
                                                                    <p>
                                                                        "Servants are not free from consequence. This day I
                                                                        show myself for the end is near. Though I did not will this
                                                                        destruction, its flatters me to admit that my power brought
                                                                        its beginning."
                                                                    </p>
                                                                    <p>
                                                                        The King grew angry, "You may be a God, Cypher. But
                                                                        nothing can not be brought low." Standing, the king drew
                                                                        his sword and pointed it in the direction of the voice, "If
                                                                        you will not help us, we shall meet our doom, together."
                                                                        But Cypher was no longer there.
                                                                    </p>
                                                                    <p align="center">~</p>
                                                                    <p>
                                                                        "There must be something we can do," one of the
                                                                        council members said wiping sweat from his brow, while another
                                                                        beside him tried hard to suppress a yawn. It was late afternoon
                                                                        and the lords and leaders have been discussing the matter
                                                                        since the night before, when Cypher appeared.
                                                                    </p>
                                                                    <p>
                                                                        A Planisadian lord stood and repeated his intent on escaping
                                                                        the encroaching green fog. None of the scouts had yet returned
                                                                        and he believed it sound to escape first then reevaluate the
                                                                        situation. It would take days to move everyone and time was
                                                                        already growing short.
                                                                    </p>
                                                                    <p>
                                                                        "No, we stand and fight, kill Cypher and all should
                                                                        be well again," said an overly bold Erenion, sweeping
                                                                        his hand in an arc nearly knocking over a weary servant who
                                                                        was refilling his goblet. "We have run enough."
                                                                    </p>
                                                                    <p>
                                                                        The council was in uproar, it wasn't the first time someone
                                                                        suggested this and while they all knew it was the only solution,
                                                                        they were reluctant to fight a god. "Are you mad?"
                                                                        someone shouted, "Cypher is a GOD"!
                                                                    </p>
                                                                    <p>"We will stay, but we will not fight."</p>
                                                                    <p>
                                                                        The room was stunned into silence. To stay but not fight?
                                                                        Then what should be done? Just die? Surely some believed that
                                                                        the king had finally lost his senses. Already many had to
                                                                        be persuaded just to believe that Cypher truly did speak to
                                                                        his majesty.
                                                                    </p>
                                                                    <p>"Send for the Pianna Knights."</p>
                                                                    <p align="center">~</p>
                                                                    <p>
                                                                        The Pianna Knights rode through the castle gates amidst the
                                                                        cheers of the entire populace. Here were the heroes of legend,
                                                                        those who would save them all. Brandished In their newly fashioned
                                                                        armor and armed with their polished swords, they looked every
                                                                        bit the story book heroes of old. Not one who saw them believed
                                                                        that they would fail.
                                                                    </p>
                                                                    <p>
                                                                        Near two hundred strong, they rode in search for Cypher.
                                                                        Legend had it that he had built a monument of glass centuries
                                                                        ago and that he resided near it, tended by his early followers
                                                                        who saw to his every need.
                                                                    </p>
                                                                    <p>
                                                                        Guided by no more than stories told to young children, the
                                                                        Pianna Knights rode into the wilderness and further away into
                                                                        the most obscure of human settlements, which of course were
                                                                        now nothing more than ruins. In the forests they killed every
                                                                        creature they encountered, but those were few and far between.
                                                                        It was as though each and every one of those vile beings had
                                                                        been picked up and stored away. One may even take a walk in
                                                                        the moonlight and return unharmed.
                                                                    </p>
                                                                    <p>
                                                                        One night a wave of fatigue washed over them and they each
                                                                        in turn fell asleep.
                                                                    </p>
                                                                    <p>
                                                                        They dreamt of a place near a valley; there were people there.
                                                                        And at first, their semi-conscious selves were elated, for
                                                                        they thought they had reached their destination at last. But
                                                                        as their dreams were guided closer, they saw the despair in
                                                                        the faces of the people, how tired they looked without an
                                                                        ounce of joy in their souls. But they did not understand,
                                                                        here was a peaceful place, an uncomplicated haven of rainbow
                                                                        colors which shone when light struck the edifice of glass.
                                                                        Realization dawned upon them, here was the lair of Cypher
                                                                        and those humans were not his adoring subjects but his slaves.
                                                                        Their consciousness turned towards the monument, at the foot
                                                                        of it a fortress stood, it was of dark stone and it absorbed
                                                                        the lights as though it never existed. They drifted closer,
                                                                        but as they neared the structure they felt rather than saw
                                                                        a hand reach out and block their view.
                                                                    </p>
                                                                    <p>The dream ended, but they did not stir till morning.</p>
                                                                    <p>
                                                                        While the Pianna Knights were troubled by what they had seen,
                                                                        they were no less determined. However, their knowledge was
                                                                        not limited to what they had. They were being drawn to the
                                                                        west as though they knew it was where they had to be. And
                                                                        in their minds and hearts rang a verse, a prayer long forgotten:
                                                                    </p>
                                                                    <p align="center">
                                                                        <em>
                                                                            We are your children,<br>
                                                                            Though long forgotten,<br>
                                                                            Do not forsake us.
                                                                        </em>
                                                                    </p>
                                                                    <p>
                                                                        Towards the west they rode, as quick as the wind, never had
                                                                        they been inspired so. They rode without stopping for days,
                                                                        neither they nor their animals felt hunger or exhaustion,
                                                                        they rode until a sight caught their eyes. An enormous monument
                                                                        which sparkled like a diamond stood miles away. Even having
                                                                        seen it up-close in their dream did not prepare them for the
                                                                        magnificence before them. The neighing of one of their horses
                                                                        snapped them out of their reverie and again they continued.
                                                                    </p>
                                                                    <p>
                                                                        By dawn the next day they reached what appeared to be an
                                                                        impassable barrier, with the monument just beyond. There was
                                                                        nothing there but the horses refused to go beyond the invisible
                                                                        line. Even the knights that dismounted found themselves unable
                                                                        to bring themselves to cross it. It was as though the desire
                                                                        to enter that "zone" left them the moment they approached.
                                                                        One would account later that the feeling was akin to one looking
                                                                        at his favorite dish. He knew he wanted it, but yet opening
                                                                        his mouth, he lost his appetite.
                                                                    </p>
                                                                    <p>
                                                                        By noon, none had passed but the terrain was changing. The
                                                                        forests and grass which enveloped them dissolved as though
                                                                        nothing more than an illusion. The ground seemed to dry up
                                                                        leaving nothing but dry earth behind. It dried so quickly
                                                                        that it began to crack, scarring its smooth surface. Suddenly,
                                                                        the ground on which the Knights stood gave in and all fell
                                                                        into the crevice. Many were injured in that fall and some
                                                                        even lost their lives. But the remaining Knights now found
                                                                        themselves in a dark cavern, and found they had landed in
                                                                        the middle of a host of every monster they had ever faced,
                                                                        and some which they have never before laid eyes on. Standing
                                                                        there so tall as to almost reach the stalactites was Cypher
                                                                        himself. They did not know him, but they knew they were facing
                                                                        whom they sought.
                                                                    </p>
                                                                    <p>
                                                                        With the barest of a nod, the Pianna Knights were assaulted
                                                                        from all sides. They formed a circle of shields, holding back
                                                                        the enemy as best they could while protecting the injured
                                                                        and the healers within the ring. The Knights were skillful
                                                                        in war craft and they only lost a brother with the felling
                                                                        of beasts ten times that number. But as the battle wore on,
                                                                        their numbers had dwindled significantly and there seemed
                                                                        to be no end to the attack from their tireless foes.
                                                                    </p>
                                                                    <p>
                                                                        When the Knights were down to less than fifty men, the beasts
                                                                        stopped their assault. They backed away as Cypher approached.
                                                                        Seeing him up close for the first time, the Knights saw what
                                                                        Cypher truly was. Besides his gigantic form, he looked little
                                                                        better than an old man. He wasn't the fierce warrior god all
                                                                        expected him to be.
                                                                    </p>
                                                                    <p>
                                                                        "Welcome, Knights-Pianna. I see you must be tired,"
                                                                        he mocked.
                                                                    </p>
                                                                    <p>
                                                                        The Knights did not reply. Instead, those inclined to sword
                                                                        play each picked a target and rammed them thru. Those gifted
                                                                        in the mystic arts opened themselves up to their powers and
                                                                        fire and lightning scorched all those who stood in their path.
                                                                        So fierce was the attack that Cypher could only watch as the
                                                                        few hundred beasts he had left were killed mercilessly. More
                                                                        men were lost but it was all over, not a single creature stood
                                                                        standing, and those that were still alive lay bleeding on
                                                                        the blood-soaked cavern floor. They circled Cypher, but to
                                                                        defeat a god by sheer physical strength and the little magic
                                                                        they could command was sheer folly. Cypher knew this and he
                                                                        was unafraid. Already the corpses of the fallen Knights were
                                                                        stirring. Soon they would rise again, but would remember no
                                                                        face be it friend or brother.
                                                                    </p>
                                                                    <p>
                                                                        As the very first of the zombies closed his hardening fingers
                                                                        on a fallen sword, words of fire burned in the minds of the
                                                                        survivors. Without knowing the reason, they began chanting
                                                                        the prayer which had come to them before.
                                                                    </p>
                                                                    <p align="center">
                                                                        <em>
                                                                            We are your children,<br>
                                                                            Though long forgotten,<br>
                                                                            Do not forsake us.
                                                                        </em>
                                                                    </p>
                                                                    <p>
                                                                        More and more of their fallen brethren were standing and
                                                                        rearming themselves. Never in their lives had the Pianna Knights
                                                                        felt such fear while feeling such hope. They continued.
                                                                    </p>
                                                                    <p align="center">
                                                                        <em>
                                                                            We are your children,<br>
                                                                            Though long forgotten,<br>
                                                                            Do not forsake us.
                                                                        </em>
                                                                    </p>
                                                                    <p>
                                                                        Louder and louder the words echoed through the cavern, resounding
                                                                        off the ancient walls and reverberating off the shivering
                                                                        stalactites. More verses came out of their mouths.
                                                                    </p>
                                                                    <p align="center">
                                                                        <em>
                                                                            We are one again with you,<br>
                                                                            You can hear us,<br>
                                                                            Listen to our plea.
                                                                        </em>
                                                                    </p>
                                                                    <p>
                                                                        Cypher, unheeding their pitiful prayer, flared his powers.
                                                                        The ceiling began to collapse on the heroes and more than
                                                                        one was crushed by the falling granite. Yes, they stood unwavering.
                                                                    </p>
                                                                    <p align="center">
                                                                        <em>
                                                                            It is the end,<br>
                                                                            We wish to return,<br>
                                                                            Welcome us home.
                                                                        </em>
                                                                    </p>
                                                                    <p>
                                                                        Like lighting there was a flash of light as something streaked
                                                                        from the heavens. Logos, the Creator, lifting his mighty bow
                                                                        had let fly a bolt of energy fueled by the long prayers of
                                                                        salvation from generations past to present. The bolt pierced
                                                                        the clouds, the cavern ceiling and struck the startled Cypher
                                                                        above the shoulders. In a brilliance that would have blinded
                                                                        all that had not the blessing of Logos, Cypher was no more.
                                                                        Only his final cry for vengeance vibrated softly on the walls.
                                                                    </p>
                                                                    <p>
                                                                        "Anyone who has persecuted me will be cursed with my
                                                                        black blood."
                                                                    </p>
                                                                    <p>
                                                                        Another voice more subdued but so clear and so full of love
                                                                        said.
                                                                    </p>
                                                                    <p>"Welcome home."</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center"><img src="~/Content/Website/images/div_illuminated.gif" width="284" height="30"></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">
                                                                    <img src="~/Content/Website/images/ico_bullet_elmorad.gif" width="16" height="16" align="absmiddle">
                                                                    The Curse of Cypher
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p>
                                                                        <img src="~/Content/Website/images/alpha_w.gif" width="88" height="89" align="left"><img src="~/Content/Website/images/spacer.gif" width="3" height="89" align="left">ith
                                                                        the defeat of Cypher, the green fog lifted and the jubilant
                                                                        Pianna Knights rode home to find the whole of El Morad in
                                                                        celebration awaiting their return. The war that had lasted
                                                                        for seven long years had finally ended in the humans' victory.
                                                                        Tales of their adventures spread quickly among the people
                                                                        of El Morad; and very soon, shrines and temples dedicated
                                                                        to the god Logos were raised in his honor. Humanity began
                                                                        to prosper once again and for a time not one remembered that
                                                                        Cypher vowed revenge.
                                                                    </p>
                                                                    <p>
                                                                        Now that peace reigned many began to venture out of the city.
                                                                        At first, little farms sprang up just beyond the scarred walls
                                                                        and battlements that once protected them. And later, plantations
                                                                        growing crops of every kind and villages to support the farming
                                                                        community mushroomed along side them. With the blessings of
                                                                        Logos, all prospered.
                                                                    </p>
                                                                    <p>But peace was not to last long in the land of El Morad.</p>
                                                                    <p>
                                                                        Time passed by and the knights who had started a new life
                                                                        in the land of El Morad gave birth to children carrying the
                                                                        black blood of Cypher. The evil contained in the black blood
                                                                        caused sickness among the people and soon, a plague hit the
                                                                        kingdom. The people were outraged when they learned the cause
                                                                        of this illness. Some children were thrown into the wilderness
                                                                        and some children had to live in the dark and damp sewers
                                                                        of the city to hide from the eyes of the public. People called
                                                                        these cursed children Tuareks, the children born with the
                                                                        mark of the Orcs.
                                                                    </p>
                                                                    <p>
                                                                        The priests of El Morad captured these Tuareks and disposed
                                                                        them of their evil symbol, and they were left with no choice
                                                                        but to be content with living as slaves in El Morad.
                                                                    </p>
                                                                    <p>
                                                                        Soon, a leader rose amongst the Tuareks and led them into
                                                                        the wilderness, where they would not have to live in constant
                                                                        fear and shame. He taught the Tuareks fighting skills and
                                                                        the way of survival in the wilderness. His name was Zignon,
                                                                        the hero and spiritual leader of Tuarek. Zignon proceeded
                                                                        to lead his evil followers north. Along the way, they had
                                                                        to constantly fight off the remaining soldiers of Patos and
                                                                        the El Morad soldiers that were chasing them. Starving and
                                                                        shivering from the cold, they followed Zignon into the wilderness
                                                                        for 3 years then crossed the mountain of Iskanz, which was
                                                                        said to be the end of the world. On the ice filled plain over
                                                                        the mountain was the Breth Castle. This was the same place
                                                                        where Cypher's destruction had began. It was safe from the
                                                                        El Morad soldiers; and so Zignon established a kingdom around
                                                                        the Breth Castle. He called his kingdom, the nation of
                                                                        Karus. But since many of the the Tuareks had their evil mark
                                                                        taken away by the priests of El Morad, they were too weak
                                                                        to live in the harsh ice filled landscape. A lot of Tuareks
                                                                        died because they could not adjust to the harsh climate and
                                                                        began resenting Zignon for leading them into this land.
                                                                    </p>
                                                                    <p>
                                                                        Zignon prayed to Logos to save the Tuareks. But Logos did
                                                                        not answer. However, the god Diaz responded to his prayers.
                                                                    </p>
                                                                    <p>
                                                                        Zignon eventually sold his soul to Diaz for the sake of his
                                                                        people, and set up a shrine of evil in the center of the city.
                                                                        Diaz ordered Zignon to prepare a sacrifice on the shrine.
                                                                        Diaz demanded a sacrifice of evil, the head of Gorgon, the
                                                                        keeper of an ancient labyrinth. Zignon sent his strongest
                                                                        warrior, Kukleen, to the northern end of the continent to
                                                                        the ancient labyrinth. Kukleen cut the head of Gorgon and
                                                                        returned to the Breth Castle. As soon as the head of Gorfon
                                                                        was placed on the shrine, strong evil power started flowing
                                                                        from the shrine and the evil mark which was taken from the
                                                                        Tuareks' bodies were given back. The evil powers of the Tuareks
                                                                        were stronger than before. And the evil power coming from
                                                                        the shrine of Karus spread through the continent and threatened
                                                                        El Morad once again. In the 492nd year of the empire, El Morad
                                                                        built the shrine of radiance in the center of the city and
                                                                        organized a group of knights to declare a war on Karus to
                                                                        stop their evil power from spreading. As a countermeasure,
                                                                        Zignon pledged to overthrow El Morad in revenge for past humiliation
                                                                        and oppression. Warfare raged for 200 years, not for territory
                                                                        but for survival.
                                                                    </p>
                                                                    <p>And thus, the Forever War had begun.</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

  
                </div>
            </td>
        </tr>
    </tbody>
</table>

<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("Features")">
    <area shape="rect" coords="29,93,174,123" href="@Url.Action("Story")">
</map>