USE [KN_online]
GO
/****** Object:  Table [dbo].[MAKE_WEAPON]    Script Date: 09/06/2016 02:01:48 ******/
DROP TABLE [dbo].[MAKE_WEAPON]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAKE_WEAPON](
	[byLevel] [tinyint] NOT NULL,
	[sClass_1] [smallint] NULL,
	[sClass_2] [smallint] NULL,
	[sClass_3] [smallint] NULL,
	[sClass_4] [smallint] NULL,
	[sClass_5] [smallint] NULL,
	[sClass_6] [smallint] NULL,
	[sClass_7] [smallint] NULL,
	[sClass_8] [smallint] NULL,
	[sClass_9] [smallint] NULL,
	[sClass_10] [smallint] NULL,
	[sClass_11] [smallint] NULL,
	[sClass_12] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[MAKE_WEAPON] ([byLevel], [sClass_1], [sClass_2], [sClass_3], [sClass_4], [sClass_5], [sClass_6], [sClass_7], [sClass_8], [sClass_9], [sClass_10], [sClass_11], [sClass_12]) VALUES (0, 600, 400, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[MAKE_WEAPON] ([byLevel], [sClass_1], [sClass_2], [sClass_3], [sClass_4], [sClass_5], [sClass_6], [sClass_7], [sClass_8], [sClass_9], [sClass_10], [sClass_11], [sClass_12]) VALUES (1, 400, 500, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[MAKE_WEAPON] ([byLevel], [sClass_1], [sClass_2], [sClass_3], [sClass_4], [sClass_5], [sClass_6], [sClass_7], [sClass_8], [sClass_9], [sClass_10], [sClass_11], [sClass_12]) VALUES (2, 200, 300, 400, 100, 0, 0, 0, 0, 0, 0, 0, 0)
