USE [KN_online]
GO
/****** Object:  Table [dbo].[K_MONSTER_ITEM]    Script Date: 09/06/2016 02:01:41 ******/
DROP TABLE [dbo].[K_MONSTER_ITEM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_MONSTER_ITEM](
	[sIndex] [smallint] NOT NULL,
	[iItem01] [int] NULL,
	[sPersent01] [smallint] NULL,
	[iItem02] [int] NULL,
	[sPersent02] [smallint] NULL,
	[iItem03] [int] NULL,
	[sPersent03] [smallint] NULL,
	[iItem04] [int] NULL,
	[sPersent04] [smallint] NULL,
	[iItem05] [int] NULL,
	[sPersent05] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[K_MONSTER_ITEM] ([sIndex], [iItem01], [sPersent01], [iItem02], [sPersent02], [iItem03], [sPersent03], [iItem04], [sPersent04], [iItem05], [sPersent05]) VALUES (100, 140, 900, 130, 1500, 379016000, 300, 330310014, 3, 391010000, 3000)
INSERT [dbo].[K_MONSTER_ITEM] ([sIndex], [iItem01], [sPersent01], [iItem02], [sPersent02], [iItem03], [sPersent03], [iItem04], [sPersent04], [iItem05], [sPersent05]) VALUES (101, 140, 900, 130, 1500, 379016000, 300, 330310014, 3, 391010000, 2000)
INSERT [dbo].[K_MONSTER_ITEM] ([sIndex], [iItem01], [sPersent01], [iItem02], [sPersent02], [iItem03], [sPersent03], [iItem04], [sPersent04], [iItem05], [sPersent05]) VALUES (102, 140, 900, 130, 1500, 379016000, 300, 330310014, 3, 391010000, 3000)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
