USE [KN_online]
GO
/****** Object:  Table [dbo].[QUEST_HELPER]    Script Date: 09/06/2016 02:01:50 ******/
DROP TABLE [dbo].[QUEST_HELPER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUEST_HELPER](
	[nIndex] [int] NOT NULL,
	[bMessageType] [tinyint] NOT NULL,
	[bLevel] [tinyint] NOT NULL,
	[nExp] [int] NOT NULL,
	[bClass] [tinyint] NOT NULL,
	[bNation] [tinyint] NOT NULL,
	[bQuestType] [tinyint] NOT NULL,
	[bZone] [tinyint] NOT NULL,
	[sNpcId] [smallint] NOT NULL,
	[sEventDataIndex] [smallint] NOT NULL,
	[bEventStatus] [tinyint] NOT NULL,
	[nEventTriggerIndex] [int] NOT NULL,
	[nEventCompleteIndex] [int] NOT NULL,
	[nExchangeIndex] [int] NOT NULL,
	[nEventTalkIndex] [int] NOT NULL,
	[strLuaFilename] [char](40) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[QUEST_HELPER] ([nIndex], [bMessageType], [bLevel], [nExp], [bClass], [bNation], [bQuestType], [bZone], [sNpcId], [sEventDataIndex], [bEventStatus], [nEventTriggerIndex], [nEventCompleteIndex], [nExchangeIndex], [nEventTalkIndex], [strLuaFilename]) VALUES (1, 0, 0, 0, 5, 3, 0, 21, 16011, 0, 0, 35001, 0, 0, 0, N'21.lua                                  ')
INSERT [dbo].[QUEST_HELPER] ([nIndex], [bMessageType], [bLevel], [nExp], [bClass], [bNation], [bQuestType], [bZone], [sNpcId], [sEventDataIndex], [bEventStatus], [nEventTriggerIndex], [nEventCompleteIndex], [nExchangeIndex], [nEventTalkIndex], [strLuaFilename]) VALUES (2, 0, 0, 0, 5, 3, 0, 21, 16011, 30, 0, 35023, 0, 0, 0, N'21.lua                                  ')
INSERT [dbo].[QUEST_HELPER] ([nIndex], [bMessageType], [bLevel], [nExp], [bClass], [bNation], [bQuestType], [bZone], [sNpcId], [sEventDataIndex], [bEventStatus], [nEventTriggerIndex], [nEventCompleteIndex], [nExchangeIndex], [nEventTalkIndex], [strLuaFilename]) VALUES (3, 0, 0, 0, 5, 3, 0, 21, 16011, 30, 1, 35025, 0, 0, 0, N'21.lua                                  ')
