USE [KN_online]
GO
/****** Object:  Table [dbo].[PROGRAMLIST_LOG]    Script Date: 09/06/2016 02:01:50 ******/
ALTER TABLE [dbo].[PROGRAMLIST_LOG] DROP CONSTRAINT [DF_PROGRAMLIST_LOG_tWriteTime]
GO
DROP TABLE [dbo].[PROGRAMLIST_LOG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROGRAMLIST_LOG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[strAccountID] [varchar](21) NOT NULL,
	[strCharID] [varchar](21) NOT NULL,
	[strHackToolName] [varchar](1024) NOT NULL,
	[tWriteTime] [smalldatetime] NOT NULL CONSTRAINT [DF_PROGRAMLIST_LOG_tWriteTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_PROGRAMLIST_LOG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
