USE [KN_online]
GO
/****** Object:  Table [dbo].[K_NPC]    Script Date: 09/06/2016 02:01:41 ******/
DROP TABLE [dbo].[K_NPC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[K_NPC](
	[sSid] [smallint] NOT NULL,
	[strName] [varchar](30) NULL,
	[sPid] [smallint] NOT NULL,
	[sSize] [smallint] NOT NULL,
	[iWeapon1] [int] NOT NULL,
	[iWeapon2] [int] NOT NULL,
	[byGroup] [tinyint] NOT NULL,
	[byActType] [tinyint] NOT NULL,
	[byType] [tinyint] NOT NULL,
	[byFamily] [tinyint] NOT NULL,
	[byRank] [tinyint] NOT NULL,
	[byTitle] [tinyint] NOT NULL,
	[iSellingGroup] [int] NOT NULL,
	[sLevel] [smallint] NOT NULL,
	[iExp] [int] NOT NULL,
	[iLoyalty] [int] NOT NULL,
	[iHpPoint] [int] NOT NULL,
	[sMpPoint] [smallint] NOT NULL,
	[sAtk] [smallint] NOT NULL,
	[sAc] [smallint] NOT NULL,
	[sHitRate] [smallint] NOT NULL,
	[sEvadeRate] [smallint] NOT NULL,
	[sDamage] [smallint] NOT NULL,
	[sAttackDelay] [smallint] NOT NULL,
	[bySpeed1] [tinyint] NOT NULL,
	[bySpeed2] [tinyint] NOT NULL,
	[sStandtime] [smallint] NOT NULL,
	[iMagic1] [int] NOT NULL,
	[iMagic2] [int] NOT NULL,
	[iMagic3] [int] NOT NULL,
	[sFireR] [smallint] NOT NULL,
	[sColdR] [smallint] NOT NULL,
	[sLightningR] [smallint] NOT NULL,
	[sMagicR] [smallint] NOT NULL,
	[sDiseaseR] [smallint] NOT NULL,
	[sPoisonR] [smallint] NOT NULL,
	[sLightR] [smallint] NOT NULL,
	[sBulk] [smallint] NOT NULL,
	[byAttackRange] [tinyint] NOT NULL,
	[bySearchRange] [tinyint] NOT NULL,
	[byTracingRange] [tinyint] NOT NULL,
	[iMoney] [int] NOT NULL,
	[sItem] [smallint] NOT NULL,
	[byDirectAttack] [tinyint] NOT NULL,
	[byMagicAttack] [tinyint] NOT NULL,
	[byMoneyType] [tinyint] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
