USE [KN_online]
GO
/****** Object:  Table [dbo].[COEFFICIENT]    Script Date: 09/06/2016 02:01:37 ******/
DROP TABLE [dbo].[COEFFICIENT]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COEFFICIENT](
	[sClass] [smallint] NOT NULL,
	[ShortSword] [float] NOT NULL,
	[Sword] [float] NOT NULL,
	[Axe] [float] NOT NULL,
	[Club] [float] NOT NULL,
	[Spear] [float] NOT NULL,
	[Pole] [float] NOT NULL,
	[Staff] [float] NOT NULL,
	[Bow] [float] NULL,
	[Hp] [float] NOT NULL,
	[Mp] [float] NOT NULL,
	[Sp] [float] NOT NULL,
	[Ac] [float] NOT NULL,
	[Hitrate] [float] NOT NULL,
	[Evasionrate] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[COEFFICIENT] ([sClass], [ShortSword], [Sword], [Axe], [Club], [Spear], [Pole], [Staff], [Bow], [Hp], [Mp], [Sp], [Ac], [Hitrate], [Evasionrate]) VALUES (101, 0.0001, 0.00013, 0.00013, 0.00013, 0.00013, 0.00013, 0.0001, 0.0001, 0.0015, 0, 0.0015, 1, 0.01, 0.01)
INSERT [dbo].[COEFFICIENT] ([sClass], [ShortSword], [Sword], [Axe], [Club], [Spear], [Pole], [Staff], [Bow], [Hp], [Mp], [Sp], [Ac], [Hitrate], [Evasionrate]) VALUES (102, 0.00015, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.00015, 0.0005, 0, 0.0015, 1, 0.01, 0.01)
INSERT [dbo].[COEFFICIENT] ([sClass], [ShortSword], [Sword], [Axe], [Club], [Spear], [Pole], [Staff], [Bow], [Hp], [Mp], [Sp], [Ac], [Hitrate], [Evasionrate]) VALUES (103, 7E-05, 0, 0, 0, 0, 0, 0.0001, 0, 0.0004, 0.0015, 0, 1, 0.01, 0.01)
