USE [KN_online]
GO
/****** Object:  Table [dbo].[COPY_TEST]    Script Date: 09/06/2016 02:01:38 ******/
DROP TABLE [dbo].[COPY_TEST]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COPY_TEST](
	[ITEMSERIAL] [bigint] NOT NULL
) ON [PRIMARY]
GO
