USE [KN_online]
GO
/****** Object:  Table [dbo].[KNIGHTS_CAPE]    Script Date: 09/06/2016 02:01:44 ******/
DROP TABLE [dbo].[KNIGHTS_CAPE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KNIGHTS_CAPE](
	[sCapeIndex] [smallint] NOT NULL,
	[strName] [char](30) NOT NULL,
	[nBuyPrice] [int] NOT NULL,
	[nDuration] [int] NOT NULL,
	[byGrade] [tinyint] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KNIGHTS_CAPE] ([sCapeIndex], [strName], [nBuyPrice], [nDuration], [byGrade]) VALUES (0, N'±âº»¸ÁÅä                      ', 0, 0, 3)
INSERT [dbo].[KNIGHTS_CAPE] ([sCapeIndex], [strName], [nBuyPrice], [nDuration], [byGrade]) VALUES (1, N'black                         ', 20000000, 0, 3)
INSERT [dbo].[KNIGHTS_CAPE] ([sCapeIndex], [strName], [nBuyPrice], [nDuration], [byGrade]) VALUES (2, N'blue                          ', 50000000, 0, 2)
