USE [KN_online]
GO
/****** Object:  Table [dbo].[HACKTOOL_USERLOG]    Script Date: 09/06/2016 02:01:39 ******/
ALTER TABLE [dbo].[HACKTOOL_USERLOG] DROP CONSTRAINT [DF_HACKTOOL_USERLOG_tWriteTime]
GO
DROP TABLE [dbo].[HACKTOOL_USERLOG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HACKTOOL_USERLOG](
	[strAccountID] [char](21) NOT NULL,
	[strCharID] [char](21) NOT NULL,
	[strHackToolName] [char](512) NULL,
	[tWriteTime] [smalldatetime] NOT NULL CONSTRAINT [DF_HACKTOOL_USERLOG_tWriteTime]  DEFAULT (getdate())
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
