USE [KN_online]
GO
/****** Object:  Table [dbo].[MAKE_ITEM_LARECODE]    Script Date: 09/06/2016 02:01:48 ******/
ALTER TABLE [dbo].[MAKE_ITEM_LARECODE] DROP CONSTRAINT [DF_MAKE_ITEM_LARECODE_sUpgradeItem_1]
GO
ALTER TABLE [dbo].[MAKE_ITEM_LARECODE] DROP CONSTRAINT [DF_MAKE_ITEM_LARECODE_sLareItem]
GO
ALTER TABLE [dbo].[MAKE_ITEM_LARECODE] DROP CONSTRAINT [DF_MAKE_ITEM_LARECODE_sMagicItem]
GO
ALTER TABLE [dbo].[MAKE_ITEM_LARECODE] DROP CONSTRAINT [DF_MAKE_ITEM_LARECODE_sGereralItem]
GO
DROP TABLE [dbo].[MAKE_ITEM_LARECODE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAKE_ITEM_LARECODE](
	[byLevelGrade] [tinyint] NOT NULL,
	[sUpgradeItem] [smallint] NOT NULL CONSTRAINT [DF_MAKE_ITEM_LARECODE_sUpgradeItem_1]  DEFAULT (0),
	[sLareItem] [smallint] NOT NULL CONSTRAINT [DF_MAKE_ITEM_LARECODE_sLareItem]  DEFAULT (0),
	[sMagicItem] [smallint] NOT NULL CONSTRAINT [DF_MAKE_ITEM_LARECODE_sMagicItem]  DEFAULT (0),
	[sGereralItem] [smallint] NOT NULL CONSTRAINT [DF_MAKE_ITEM_LARECODE_sGereralItem]  DEFAULT (0)
) ON [PRIMARY]
GO
INSERT [dbo].[MAKE_ITEM_LARECODE] ([byLevelGrade], [sUpgradeItem], [sLareItem], [sMagicItem], [sGereralItem]) VALUES (0, 500, 250, 250, 0)
INSERT [dbo].[MAKE_ITEM_LARECODE] ([byLevelGrade], [sUpgradeItem], [sLareItem], [sMagicItem], [sGereralItem]) VALUES (1, 500, 250, 250, 0)
INSERT [dbo].[MAKE_ITEM_LARECODE] ([byLevelGrade], [sUpgradeItem], [sLareItem], [sMagicItem], [sGereralItem]) VALUES (2, 500, 250, 250, 0)
