USE [KN_online]
GO
/****** Object:  Table [dbo].[MONSTER_CHALLENGE_SUMMON_LIST]    Script Date: 09/06/2016 02:01:49 ******/
ALTER TABLE [dbo].[MONSTER_CHALLENGE_SUMMON_LIST] DROP CONSTRAINT [DF_MONSTER_CHALLENGE_SUMMON_LIST_bStageLevel]
GO
DROP TABLE [dbo].[MONSTER_CHALLENGE_SUMMON_LIST]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONSTER_CHALLENGE_SUMMON_LIST](
	[sIndex] [smallint] NOT NULL,
	[bLevel] [tinyint] NOT NULL,
	[bStage] [tinyint] NOT NULL,
	[bStageLevel] [tinyint] NOT NULL CONSTRAINT [DF_MONSTER_CHALLENGE_SUMMON_LIST_bStageLevel]  DEFAULT (0),
	[sTime] [smallint] NOT NULL,
	[sSid] [smallint] NOT NULL,
	[sCount] [smallint] NOT NULL,
	[sPosX] [smallint] NOT NULL,
	[sPosZ] [smallint] NOT NULL,
	[bRange] [tinyint] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[MONSTER_CHALLENGE_SUMMON_LIST] ([sIndex], [bLevel], [bStage], [bStageLevel], [sTime], [sSid], [sCount], [sPosX], [sPosZ], [bRange]) VALUES (0, 1, 1, 1, 310, 2903, 30, 126, 126, 45)
INSERT [dbo].[MONSTER_CHALLENGE_SUMMON_LIST] ([sIndex], [bLevel], [bStage], [bStageLevel], [sTime], [sSid], [sCount], [sPosX], [sPosZ], [bRange]) VALUES (1, 1, 2, 1, 320, 1673, 30, 126, 126, 45)
INSERT [dbo].[MONSTER_CHALLENGE_SUMMON_LIST] ([sIndex], [bLevel], [bStage], [bStageLevel], [sTime], [sSid], [sCount], [sPosX], [sPosZ], [bRange]) VALUES (2, 1, 3, 1, 360, 1690, 30, 126, 126, 45)
GO
print 'Processed 100 total records'
