USE [KN_online]
GO
/****** Object:  Table [dbo].[SERVER_RESOURCE]    Script Date: 09/06/2016 02:01:51 ******/
DROP TABLE [dbo].[SERVER_RESOURCE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SERVER_RESOURCE](
	[nResourceID] [int] NOT NULL,
	[strName] [char](50) NOT NULL,
	[strResource] [char](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SERVER_RESOURCE] ([nResourceID], [strName], [strResource]) VALUES (176, N'IDS_SIEGE_WAR_GUIDON_TIME_NOTICE                  ', N'There are %d minutes remaining for building your base. If you don''t build a base by then, you''ll aut')
INSERT [dbo].[SERVER_RESOURCE] ([nResourceID], [strName], [strResource]) VALUES (214, N'IDS_KING_ELMO_FUGITIVE_EVENT_MESSAGE_1            ', N'The El Morad King has awarded %s %d coins as a reward.                                              ')
INSERT [dbo].[SERVER_RESOURCE] ([nResourceID], [strName], [strResource]) VALUES (215, N'IDS_KING_KARUS_WEATHER_FINE_EVENT                 ', N'The Karus King has cleared the weather.                                                             ')
GO
print 'Processed 100 total records'
