USE [KN_online]
GO
/****** Object:  Table [dbo].[START_POSITION]    Script Date: 09/06/2016 02:01:51 ******/
DROP TABLE [dbo].[START_POSITION]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[START_POSITION](
	[ZoneID] [smallint] NOT NULL,
	[sKarusX] [smallint] NOT NULL,
	[sKarusZ] [smallint] NOT NULL,
	[sElmoradX] [smallint] NOT NULL,
	[sElmoradZ] [smallint] NOT NULL,
	[bRangeX] [tinyint] NOT NULL,
	[bRangeZ] [tinyint] NOT NULL,
	[sKarusGateX] [smallint] NOT NULL,
	[sKarusGateZ] [smallint] NOT NULL,
	[sElmoGateX] [smallint] NOT NULL,
	[sElmoGateZ] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[START_POSITION] ([ZoneID], [sKarusX], [sKarusZ], [sElmoradX], [sElmoradZ], [bRangeX], [bRangeZ], [sKarusGateX], [sKarusGateZ], [sElmoGateX], [sElmoGateZ]) VALUES (1, 441, 1625, 1859, 170, 10, 10, 0, 0, 0, 0)
INSERT [dbo].[START_POSITION] ([ZoneID], [sKarusX], [sKarusZ], [sElmoradX], [sElmoradZ], [bRangeX], [bRangeZ], [sKarusGateX], [sKarusGateZ], [sElmoGateX], [sElmoGateZ]) VALUES (2, 219, 1859, 1595, 412, 10, 10, 0, 0, 0, 0)
INSERT [dbo].[START_POSITION] ([ZoneID], [sKarusX], [sKarusZ], [sElmoradX], [sElmoradZ], [bRangeX], [bRangeZ], [sKarusGateX], [sKarusGateZ], [sElmoGateX], [sElmoGateZ]) VALUES (11, 527, 543, 527, 543, 10, 10, 0, 0, 0, 0)
