USE [KN_online]
GO
/****** Object:  Table [dbo].[ITEM_EXCHANGE]    Script Date: 09/06/2016 02:01:40 ******/
DROP TABLE [dbo].[ITEM_EXCHANGE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITEM_EXCHANGE](
	[nIndex] [int] NOT NULL,
	[nNpcNum] [smallint] NOT NULL,
	[strNpcName] [char](30) NULL,
	[strNote] [char](100) NULL,
	[bRandomFlag] [tinyint] NOT NULL,
	[nOriginItemNum1] [int] NOT NULL,
	[nOriginItemCount1] [smallint] NOT NULL,
	[nOriginItemNum2] [int] NOT NULL,
	[nOriginItemCount2] [smallint] NOT NULL,
	[nOriginItemNum3] [int] NOT NULL,
	[nOriginItemCount3] [smallint] NOT NULL,
	[nOriginItemNum4] [int] NOT NULL,
	[nOriginItemCount4] [smallint] NOT NULL,
	[nOriginItemNum5] [int] NOT NULL,
	[nOriginItemCount5] [smallint] NOT NULL,
	[nExchangeItemNum1] [int] NOT NULL,
	[nExchangeItemCount1] [smallint] NOT NULL,
	[nExchangeItemNum2] [int] NOT NULL,
	[nExchangeItemCount2] [smallint] NOT NULL,
	[nExchangeItemNum3] [int] NOT NULL,
	[nExchangeItemCount3] [smallint] NOT NULL,
	[nExchangeItemNum4] [int] NOT NULL,
	[nExchangeItemCount4] [smallint] NOT NULL,
	[nExchangeItemNum5] [int] NOT NULL,
	[nExchangeItemCount5] [smallint] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
