USE [KN_online]
GO
/****** Object:  StoredProcedure [dbo].[CLEAR_REMAIN_USERS]    Script Date: 09/06/2016 02:02:00 ******/
DROP PROCEDURE [dbo].[CLEAR_REMAIN_USERS]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[CLEAR_REMAIN_USERS] 
@strServerIP varchar(15)
 AS
DELETE  FROM  CURRENTUSER WHERE strServerIP = @strServerIP
GO
