body {
	margin: 0px;
	font-family: verdana, geneva, arial, sans-serif;
	font-size: 10px;
	color: #ffffff;
	background-color: #000000;
	background-image: url(img/bg.jpg);
	background-repeat: repeat-y;
	background-position: center;
}

a:link {color: #8c0000; text-decoration:none;}
a:visited {color: #8c0000; text-decoration:none;}
a:active {color: #8c0000; text-decoration:none;}
a:hover {color: #8c0000; text-decoration:underline;}

.flash {
	display: block;
	text-align: center;
}

.news {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 16px;
}

.kol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 16px;
}

.maintext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 16px;
	color: #472B00;
}

.headertextw {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.headertextb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.headertextr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #990000;
}

.headertext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.headertext_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #990000;
}

.normw {
	FONT-SIZE: 8pt;
	COLOR: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.normw:visited {
	FONT-SIZE: 8pt;
	COLOR: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.normw:active {
	FONT-SIZE: 8pt;
	COLOR: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.normw:hover {
	FONT-SIZE: 8pt;
	COLOR: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.normb {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.normb:visited {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.normb:active {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.normb:hover {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
